
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CBS</title>
    </head>
    <body>
        <main>
            <h1>CBS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-to-hold-news-conference-on-d-c-crime-amid-federal-takeover-threat/" target="_blank">Trump deploys National Guard to D.C., takes control of police in crime crackdown</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pittsburgh/news/explosion-us-steel-clairton-plant/" target="_blank">At least 1 killed, dozens injured after explosion at U.S. Steel Clairton plant</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ghislaine-maxwell-grand-jury-unseal-denied/" target="_blank">Judge declines to unseal grand jury material in Ghislaine Maxwell case</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/tropical-storm-erin-hurricane-track-path/" target="_blank">Tropical Storm Erin forms, could become Atlantic's first hurricane this season</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/miguel-uribe-turbay-dies-colombia-senator-shot-campaign-rally/" target="_blank">Colombia presidential hopeful dies weeks after campaign rally shooting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/texas-bill-lawsuit-abortion-pills/" target="_blank">Texas bill would allow lawsuits over shipping abortion pills</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/europe-heat-wave-wildfires-evacuations/" target="_blank">Europe heat wave fuels wildfires, forcing evacuations in multiple countries</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/al-jazeera-journalist-anas-al-sharif-killed-israel-attack-gaza/" target="_blank">Al Jazeera journalist Anas al-Sharif and 4 team members killed in Gaza</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nvidia-amd-chip-sales-china-15-percent-h20-mi308/" target="_blank">Nvidia, AMD to pay U.S. government 15% of AI chip sales to China</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nvidia-amd-chip-sales-china-15-percent-h20-mi308/" target="_blank"></a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/remains-researcher-vanished-1959-found-antarctic-glacier-dennis-tink-bell/" target="_blank">Remains of researcher who vanished in 1959 found on Antarctic glacier</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/niger-possible-illegal-international-trafficking-mars-piece/" target="_blank">Niger wants answers after largest piece of Mars sold for $5.3 million</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/netflix-harry-meghan-extend-partnership-archewell-productions/" target="_blank">Netflix extends partnership with Prince Harry and Meghan in multiyear deal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/flooding-milwaukee-nebraska-storms-knock-out-power-close-roads/" target="_blank">Flooding subsides in parts of Midwest after deadly storms cut power</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/naacp-town-halls-black-voters-2026-midterm-elections/" target="_blank">NAACP launches town halls to mobilize Black voters ahead of midterm elections</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ford-electric-vehicles-ev-production-5-billion-investment-30000-model/" target="_blank">Ford to invest $5 billion in EV production. Here's what to know.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/lsu-graduate-student-innovator-disability-3d-printed/" target="_blank">LSU grad transforms his disability into a game-changing career</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/cocaine-hidden-banana-shipment-greece-police-tip-uk/" target="_blank">Nearly 600 pounds of cocaine found hidden in banana shipment</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/china-research-ships-ramping-up-activity-us-arctic-coast-guard/" target="_blank">China research ships ramping up activity in U.S. Arctic, Coast Guard says</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-says-homeless-should-leave-d-c-immediately-after-floating-federal-takeover-of-capital/" target="_blank">Trump says homeless should leave D.C. "IMMEDIATELY," after floating federal takeover</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ex-trump-surgeon-general-rfk-mrna-vaccine-research/" target="_blank">Ex-Trump surgeon general blasts RFK Jr.'s halt to mRNA vaccine research</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nato-secretary-general-says-trump-will-be-testing-putin-in-friday-meeting/" target="_blank">NATO secretary general says Trump will be "testing Putin" in Friday meeting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/european-leaders-ukraine-white-house-zelenskyy-trump-putin-summit/" target="_blank">European leaders rally behind Ukraine ahead of Trump-Putin summit</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/putin-award-order-of-lenin-american-ukraine/" target="_blank">Putin needles U.S. with award for CIA official whose son died fighting for Russia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/australia-palestinian-state/" target="_blank">Australia latest to say it will recognize a Palestinian state</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/netanyahu-gaza-city-hamas-military-plan/" target="_blank">Netanyahu defends Gaza military offensive, says Israel must "finish the job"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/mike-huckabee-ambassador-israel-gaza/" target="_blank">Ambassador to Israel Mike Huckabee on future of Gaza</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/how-much-interest-can-a-50000-cd-earn-august-2025/" target="_blank">How much interest can a $50,000 CD earn right now?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/should-beginners-still-invest-in-gold-what-to-consider-now/" target="_blank">Should beginners still invest in gold? 3 things to consider now</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/what-to-do-if-your-bank-account-is-frozen-by-a-debt-collector/" target="_blank">5 moves to make if your bank account is frozen by a debt collector</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ford-electric-vehicles-ev-production-5-billion-investment-30000-model/" target="_blank">Ford to invest $5 billion in EV production. Here's what to know.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nvidia-amd-chip-sales-china-15-percent-h20-mi308/" target="_blank">Nvidia, AMD to pay U.S. government 15% of AI chip sales to China</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ufc-paramount-plus-deal-2026-streaming-cbs/" target="_blank">Paramount acquires UFC rights in 7-year deal with TKO Group</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/aol-dial-up-service-ending-youve-got-mail-september-30/" target="_blank">AOL to end its dial-up service in September</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-tariffs-inflation-gdp-stagflation-concerns/" target="_blank">Why Trump's new tariffs are fueling economists' stagflation concerns</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/live/" target="_blank">CBS News Live</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/trump-says-placing-d-c-police-under-federal-control-deploying-national-guard/" target="_blank">Trump puts D.C. police under federal control</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/what-to-expect-from-trump-putin-meeting-in-alaska/" target="_blank">What to expect from Trump, Putin meeting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/texas-redistricting-battle-sparks-debate-over-gerrymandering/" target="_blank">Texas redistricting battle sparks debate</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/education-secretary-linda-mcmahon-begins-tour-pushing-local-school-control/" target="_blank">Linda McMahon starts 50-state school tour</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/cap-arcona-sinking-60-minutes-video-2025-08-10/" target="_blank">60 Minutes</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/jamie-lee-curtis-60-minutes-video-2025-08-10/" target="_blank">Jamie Lee Curtis: The 60 Minutes Interview</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/egg-freezing-60-minutes-video-2025-08-03/" target="_blank">Egg freezing raises big hopes and questions</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/demis-hassabis-ai-deepmind-60-minutes-video-2025-08-03/" target="_blank">What's next for AI at Google DeepMind</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/john-oliver-60-minutes-video-2025-07-27/" target="_blank">John Oliver: The 60 Minutes Interview</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/lsu-graduate-student-innovator-disability-3d-printed/" target="_blank">LSU grad transforms his disability into a game-changing career</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/jessica-alba-and-lizzy-mathis-return-with-season-3-of-honest-renovations/" target="_blank">"Honest Renovations" stars on new season</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/chance-the-rapper-returns-with-star-line-and-fall-tour/" target="_blank">Chance the Rapper debuts "Star Line"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/extended-interview-sunset-boulevard-actress-nicole-scherzinger/" target="_blank">Extended interview: "Sunset Boulevard" actress Nicole Scherzinger</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cbsn.ws/4l21Kp4" target="_blank">How faulty drug tests are turning new moms' lives upside-down</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/more-people-turning-off-dating-apps-and-trying-to-find-love-in-real-life/" target="_blank">Eye On America</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/couple-displaced-by-la-wildfires-now-traveling-us-in-rv/" target="_blank">Couple turns to RV road trip after L.A. fires</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/chatbots-turned-to-for-companionship/" target="_blank">Chatbots turned to for companionship</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/trump-administration-not-renewing-work-permits-for-ukrainian-refugees-in-us/" target="_blank">Ukrainian refugees in work permit limbo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/inside-the-world-of-astrology/" target="_blank">Inside the world of astrology</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/is-america-in-a-new-gilded-age-wealth-power-and-democracy-cbs-reports/" target="_blank">CBS Reports</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/the-price-of-milk-immigrants-behind-american-dairy-cbs-reports/" target="_blank">The Price of Milk | CBS Reports</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/finding-common-ground-muslims-and-jews-bridging-the-gap-cbs-reports/" target="_blank">Finding Common Ground | CBS Reports</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/ultra-processed-how-food-tech-consumed-the-american-diet-cbs-reports/" target="_blank">Ultra Processed | Food Tech & the American Diet</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/advanced-recycling-does-big-plastics-idea-work-cbs-reports/" target="_blank">CBS Reports | Does Big Plastic's Idea Work?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-putin-ukraine-alaska-meeting/" target="_blank">Trump says he'll know if Putin wants peace with Ukraine soon into meeting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/netflix-harry-meghan-extend-partnership-archewell-productions/" target="_blank">Netflix extends partnership with Prince Harry and Meghan in multiyear deal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ford-electric-vehicles-ev-production-5-billion-investment-30000-model/" target="_blank">Ford to invest $5 billion in EV production. Here's what to know.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/lsu-graduate-student-innovator-disability-3d-printed/" target="_blank">LSU grad transforms his disability into a game-changing career</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nvidia-amd-chip-sales-china-15-percent-h20-mi308/" target="_blank">Nvidia, AMD to pay U.S. government 15% of AI chip sales to China</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ford-electric-vehicles-ev-production-5-billion-investment-30000-model/" target="_blank">Ford to invest $5 billion in EV production. Here's what to know.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nvidia-amd-chip-sales-china-15-percent-h20-mi308/" target="_blank">Nvidia, AMD to pay U.S. government 15% of AI chip sales to China</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ufc-paramount-plus-deal-2026-streaming-cbs/" target="_blank">Paramount acquires UFC rights in 7-year deal with TKO Group</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/aol-dial-up-service-ending-youve-got-mail-september-30/" target="_blank">AOL to end its dial-up service in September</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/the-crypto-craze-sweeping-washington-and-wall-street/" target="_blank">The crypto craze sweeping Washington and Wall Street</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-putin-ukraine-alaska-meeting/" target="_blank">Trump says he'll know if Putin wants peace with Ukraine soon into meeting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nvidia-amd-chip-sales-china-15-percent-h20-mi308/" target="_blank">Nvidia, AMD to pay U.S. government 15% of AI chip sales to China</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/naacp-town-halls-black-voters-2026-midterm-elections/" target="_blank">NAACP launches town halls to mobilize Black voters ahead of midterm elections</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/texas-bill-lawsuit-abortion-pills/" target="_blank">Texas bill would allow lawsuits over shipping abortion pills</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ghislaine-maxwell-grand-jury-unseal-denied/" target="_blank">Judge declines to unseal grand jury material in Ghislaine Maxwell case</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/trumps-ex-surgeon-general-says-people-are-going-to-die-after-rfk-jr-cuts-mrna-vaccine-funding/" target="_blank">HealthWatch</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ex-trump-surgeon-general-rfk-mrna-vaccine-research/" target="_blank">Ex-Trump surgeon general blasts RFK Jr.'s halt to mRNA vaccine research</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/football-concussion-arteriovenous-malformation-nyu-langone/" target="_blank">A teen's headaches weren't going away. Doctors found a surprising cause</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/instagram-map-disable/" target="_blank">Why is Instagram's new Map feature controversial, and should you disable it?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/covid-wastewater-levels-rising-highest-west-cdc/" target="_blank">COVID levels rising in much of U.S., with highest in West, CDC says</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-putin-ukraine-alaska-meeting/" target="_blank">Trump says he'll know if Putin wants peace with Ukraine soon into meeting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/niger-possible-illegal-international-trafficking-mars-piece/" target="_blank">Niger wants answers after largest piece of Mars sold for $5.3 million</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/europe-heat-wave-wildfires-evacuations/" target="_blank">Europe heat wave fuels wildfires, forcing evacuations in multiple countries</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/tropical-storm-erin-hurricane-track-path/" target="_blank">Tropical Storm Erin forms, could become Atlantic's first hurricane this season</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/remains-researcher-vanished-1959-found-antarctic-glacier-dennis-tink-bell/" target="_blank">Remains of researcher who vanished in 1959 found on Antarctic glacier</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/netflix-harry-meghan-extend-partnership-archewell-productions/" target="_blank">Netflix extends partnership with Prince Harry and Meghan in multiyear deal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ufc-paramount-plus-deal-2026-streaming-cbs/" target="_blank">Paramount acquires UFC rights in 7-year deal with TKO Group</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/jessica-alba-and-lizzy-mathis-return-with-season-3-of-honest-renovations/" target="_blank">"Honest Renovations" stars on new season</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/chance-the-rapper-returns-with-star-line-and-fall-tour/" target="_blank">Chance the Rapper debuts "Star Line"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/derek-and-the-dominos-co-founder-bobby-whitlock-dies/" target="_blank">Derek and the Dominos founder Bobby Whitlock dies</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/ford-electric-vehicles-ev-production-5-billion-investment-30000-model/" target="_blank">Ford to invest $5 billion in EV production. Here's what to know.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nvidia-amd-chip-sales-china-15-percent-h20-mi308/" target="_blank">Nvidia, AMD to pay U.S. government 15% of AI chip sales to China</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/how-ai-powered-robots-are-helping-small-farms-fight-labor-shortages/" target="_blank">How AI powered robots are helping small farms</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/what-to-know-about-instagrams-new-location-sharing-feature/" target="_blank">What to know about Instagram Maps</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/could-crypto-belong-in-your-investment-portfolio/" target="_blank">New law boosts crypto access</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/why-asmr-is-making-a-lot-of-noise-081025/" target="_blank">Science</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/whats-behind-rapidly-declining-butterfly-populations-midwest/" target="_blank">Butterfly populations rapidly declining in Midwest</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/perseids-meteor-shower-2025-peak-august-moon-view/" target="_blank">Perseids meteor shower will peak this week. But will the moon ruin views?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/interstellar-comet-3i-atlas-hubble-telescope-image/" target="_blank">New image shows high-speed comet visiting from another solar system</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/noaa-updates-hurricane-forecast-for-2025-atlantic-season/" target="_blank">NOAA updates hurricane forecast</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/trump-says-placing-d-c-police-under-federal-control-deploying-national-guard/" target="_blank">Crime</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/miguel-uribe-turbay-dies-colombia-senator-shot-campaign-rally/" target="_blank">Colombia presidential hopeful dies weeks after campaign rally shooting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/fake-international-police-bureau-busted-india/" target="_blank">6 arrested for allegedly running fake police bureau, extorting money</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/cocaine-hidden-banana-shipment-greece-police-tip-uk/" target="_blank">Nearly 600 pounds of cocaine found hidden in banana shipment</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/indonesia-public-caning-gay-sex-80-lashes-each-islamic-shariah-court/" target="_blank">2 men sentenced to caning for what Indonesia court decided was gay sex</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/space-station-fliers-return-to-earth-splashdown/" target="_blank">Space station astronauts return to Earth after 5-month mission</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/nasa-astronaut-jim-lovell-apollo-13-commander-dies-at-97/" target="_blank">NASA astronaut Jim Lovell dies at 97</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/four-outgoing-international-space-station-fliers-undock-head-for-saturday-splashdown/" target="_blank">4 space station fliers undock, head for Saturday splashdown</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/jim-lovell-dies-age-97-apollo-13-commander/" target="_blank">Jim Lovell, Apollo 13 commander, dies at age 97</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/could-alien-tech-be-flying-through-our-solar-system/" target="_blank">Is NASA wrong about a comet?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/summer-music-heats-up-2025/" target="_blank">Summer music heats up 2025</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/notable-deaths-in-2025/" target="_blank">Notable Deaths in 2025</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/son-of-sam-serial-killer-david-berkowitz-victims-and-timeline/" target="_blank">"Son of Sam": A serial killer's reign of terror</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/suzanne-morphew-case-evidence-photos/" target="_blank">Evidence in the Suzanne Morphew case</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/colorado/pictures/attack-on-pearl-street-mall-in-boulder/" target="_blank">Attack on Pearl Street Mall in Boulder</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/dc-mayor-muriel-bowser-takes-questions-after-trump-deploys-national-guard-to-city/" target="_blank">Latest CBS News Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/texas-house-fails-to-reach-quorum-a-week-after-democrats-fled-state-to-stop-redistricting-vote/" target="_blank">Texas House again fails to reach quorum</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/at-least-1-dead-dozens-injured-and-others-trapped-in-us-steel-plant-explosion-in-pennsylvania/" target="_blank">At least 1 dead in U.S. Steel plant explosion</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/nina-kruscheva-nikita-khrushchevs-great-granddaughter-on-fridays-trump-putin-meeting/" target="_blank">Nina Khrushcheva on Trump-Putin meeting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/what-to-know-as-trump-announces-plan-to-deploy-national-guard-to-washington-dc/" target="_blank">What to know: Trump deploys National Guard to D.C.</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    