
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CBS</title>
    </head>
    <body>
        <main>
            <h1>CBS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/opinion-poll-trump-economy-tariffs-deportation-immigration/" target="_blank">CBS News poll finds Americans want Trump's focus more on prices, not tariffs</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/iran-tehran-rejected-negotiations-us-trump-letter/" target="_blank">Iran has rejected direct negotiations with the U.S. after Trump letter</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/richard-chamberlain-star-shogun-and-the-thorn-birds-dies-90/" target="_blank">Richard Chamberlain, star of "Shogun" and "The Thorn Birds," dies at 90</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/uaw-president-shawn-fain-tariffs-auto-works-donald-trump/" target="_blank">UAW president Shawn Fain says "tariffs are a tool in the toolbox"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/danish-foreign-minister-scolds-trump-administration-jd-vance-greenland/" target="_blank">Danish minister scolds Trump administration after Greenland trip</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/amber-ruffin-white-house-correspondents-dinner/" target="_blank">Comedian Amber Ruffin pulled from White House Correspondents' Dinner</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/hamas-agrees-to-new-gaza-ceasefire-proposal-but-israel-makes-counteroffer/" target="_blank">Hamas says it agrees to new Gaza ceasefire proposal, but Israel makes counteroffer</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/elon-musk-protesters-rally-at-tesla-showrooms/" target="_blank">Protesters rally at Tesla showrooms in U.S., Europe to protest Elon Musk</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/lithuania-missing-soldiers-dive-team-engineers/" target="_blank">Specialized U.S. Navy dive team, engineers join recovery search for 4 soldiers</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/lithuania-missing-soldiers-dive-team-engineers/" target="_blank"></a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/myanmar-earthquake-thailand-bangkok-death-toll-rises-officials-assess-damage/" target="_blank">Damage from Myanmar earthquake assessed as death toll rises to 1,662</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/rocket-isar-aerospace-crash-takeoff-norway/" target="_blank">Rocket carrying European orbital vehicle crashes after seconds after takeoff</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/elton-john-and-brandi-carlile-who-believes-in-angels/" target="_blank">Elton John on Brandi Carlile: She gave me "a fresh start"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/christy-giles-hilda-marcela-cabrales-david-pearce-los-angeles-murder-trial-48-hours/" target="_blank">Survivors speak up to help convict man of murder, sexual assault</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/small-aircraft-crashes-in-minneapolis-neighborhood-reports-faa/" target="_blank">No survivors from small plane that crashed into home in Minneapolis suburb</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/maria-shriver-on-meeting-heartbreak-with-poetry-in-i-am-maria/" target="_blank">Maria Shriver on meeting heartbreak with poetry</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/united-flight-hits-kite-reagan-national-airport/" target="_blank">United flight from Houston appeared to hit a kite near D.C. airport</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/what-is-the-future-of-the-kennedy-center/" target="_blank">What is the future of the Kennedy Center?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/online-betting-the-dangers-of-sports-gambling-addiction/" target="_blank">A bad bet? The dangers of sports gambling addiction</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/israeli-officials-signal-texts-exposed-intelligence-sources-say/" target="_blank">Israeli officials furious that Signal group chat exposed intelligence, sources say</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/shawn-fain-uaw-face-the-nation/" target="_blank">UAW's Shawn Fain slams Trump executive order targeting federal unions</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-greenland-panama-canal-why-us-interest/" target="_blank">Why does Trump want Greenland and the Panama Canal?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-commutes-sentence-ozy-media-founder-carlos-watson-fraud-conviction/" target="_blank">Trump commutes sentence of Ozy Media founder Carlos Watson convicted of fraud</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/federal-judge-blocks-mass-firings-consumer-financial-protection-bureau-employees/" target="_blank">Federal judge blocks mass firings of CFPB workers</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/hamas-agrees-to-new-gaza-ceasefire-proposal-but-israel-makes-counteroffer/" target="_blank">Hamas says it agrees to new Gaza ceasefire proposal, but Israel makes counteroffer</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/israel-war-hamas-hezbollah-beirut-strikes-gaza-ceasefire/" target="_blank">Israel bombs Beirut for first time since ceasefire with Hezbollah</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/israeli-soldier-palestinians-human-shields-gaza/" target="_blank">Israeli soldier says he was ordered to use Gazans as human shields</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/debt-relief-decisions-borrowers-should-think-about-now/" target="_blank">3 debt relief decisions borrowers should think about now</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/is-heloc-worth-opening-april-2025/" target="_blank">Is a HELOC worth opening this April?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/is-a-long-term-cd-worth-opening-this-april/" target="_blank">Is a long-term CD worth opening this April?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-tariffs-april-2-liberation-day/" target="_blank">What tariffs are Trump planning for April 2, or "liberation day"?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/elon-musk-xai-to-acquire-his-x-social-media-platform/" target="_blank">Elon Musk's xAI to acquire his X social media platform</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/pce-report-data-inflation-higher-than-expected-february-2025/" target="_blank">PCE report shows core inflation picked up last month. What to know.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/jpmorgan-charlie-javice-frank-founder-convicted-fraud-175-million/" target="_blank">Charlie Javice convicted of defrauding JPMorgan in $175 million deal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-25-percent-car-tariffs-prices/" target="_blank">Which automakers are most susceptible to Trump's 25% car tariffs?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-25-percent-car-tariffs-prices/" target="_blank">CBS News Live</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/the-dangers-of-sports-gambling-addiction/" target="_blank">The dangers of sports gambling addiction</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/full-interview-uaw-president-shawn-fain-on-face-the-nation-with-margaret-brennan/" target="_blank">Full interview:  UAW president Shawn Fain</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/elton-john-brandi-carlile-on-their-dream-collaboration/" target="_blank">Elton John, Brandi Carlile on their dream collaboration</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/how-the-arts-can-create-healthier-communities/" target="_blank">How the arts can create healthier communities</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/the-dangers-of-sports-gambling-addiction/" target="_blank">CBS Sunday Morning</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/elton-john-brandi-carlile-on-their-dream-collaboration/" target="_blank">Elton John, Brandi Carlile on their dream collaboration</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/what-is-the-future-of-the-kennedy-center/" target="_blank">What is the future of the Kennedy Center?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/maria-shriver-a-life-in-verse/" target="_blank">Maria Shriver: A life in verse</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/death-becomes-her-from-screen-to-stage/" target="_blank">"Death Becomes Her": From screen to stage</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/elton-john-and-brandi-carlile-who-believes-in-angels/" target="_blank">Elton John on Brandi Carlile: She gave me "a fresh start"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/elton-john-brandi-carlile-on-their-dream-collaboration/" target="_blank">Elton John, Brandi Carlile on their dream collaboration</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/reimagining-death-becomes-her-for-broadway/" target="_blank">Reimagining "Death Becomes Her" for Broadway</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/maria-shriver-on-meeting-heartbreak-with-poetry-in-i-am-maria/" target="_blank">Maria Shriver on meeting heartbreak with poetry</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/maria-shriver-a-life-in-verse/" target="_blank">Maria Shriver: A life in verse</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/full-interview-uaw-president-shawn-fain-on-face-the-nation-with-margaret-brennan/" target="_blank">Face the Nation</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/unpacking-the-legal-process-unfolding-with-the-venezuelan-deportations/" target="_blank">Unpacking the legal process unfolding with the Venezuelan deportations</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/rep-jim-himes-says-waltz-distorted-the-law-in-venezuelan-deportations/" target="_blank">Himes: Waltz "distorted the law" in Venezuelan deportations</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/dr-scott-gottlieb-says-rfk-jr-s-suggested-alternatives-to-the-mmr-vaccine-are-not-viable/" target="_blank">Gottlieb: RFK's suggested MMR vaccine alternatives are "not viable"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/sen-rand-paul-says-he-thinks-supreme-court-will-uphold-the-alien-enemies-act-for-deportations/" target="_blank">Paul: SCOTUS will uphold the Alien Enemies Act for deportations</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/the-price-of-milk-immigrants-behind-american-dairy-cbs-reports/" target="_blank">CBS Reports</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/finding-common-ground-muslims-and-jews-bridging-the-gap-cbs-reports/" target="_blank">Finding Common Ground | CBS Reports</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/ultra-processed-how-food-tech-consumed-the-american-diet-cbs-reports/" target="_blank">Ultra Processed | Food Tech & the American Diet</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/advanced-recycling-does-big-plastics-idea-work-cbs-reports/" target="_blank">CBS Reports | Does Big Plastic's Idea Work?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/model-prisons-californias-push-for-reform-cbs-reports/" target="_blank">Model Prisons: California's Push for Reform</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/uaw-president-shawn-fain-tariffs-auto-works-donald-trump/" target="_blank">UAW president Shawn Fain says "tariffs are a tool in the toolbox"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/richard-chamberlain-star-shogun-and-the-thorn-birds-dies-90/" target="_blank">Richard Chamberlain, star of "Shogun" and "The Thorn Birds," dies at 90</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/faith-salie-on-the-buzz-over-annoying-corporate-buzzwords/" target="_blank">The buzz over annoying corporate buzzwords</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/maria-shriver-on-meeting-heartbreak-with-poetry-in-i-am-maria/" target="_blank">Maria Shriver on meeting heartbreak with poetry</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/online-betting-the-dangers-of-sports-gambling-addiction/" target="_blank">A bad bet? The dangers of sports gambling addiction</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/faith-salie-on-the-buzz-over-annoying-corporate-buzzwords/" target="_blank">The buzz over annoying corporate buzzwords</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/online-betting-the-dangers-of-sports-gambling-addiction/" target="_blank">A bad bet? The dangers of sports gambling addiction</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/opinion-poll-trump-economy-tariffs-deportation-immigration/" target="_blank">CBS News poll finds Americans want Trump's focus more on prices, not tariffs</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/elon-musk-protesters-rally-at-tesla-showrooms/" target="_blank">Protesters rally at Tesla showrooms in U.S., Europe to protest Elon Musk</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-changes-social-security-administration-seniors-alarmed/" target="_blank">Trump's changes to the Social Security Administration have many seniors alarmed</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/sue-gordon-frank-mckenzie-face-the-nation-transcript-03-30-2025/" target="_blank">Transcript: Sue Gordon and Frank McKenzie on "Face the Nation with Margaret Brennan," March 30, 2025</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/jodey-arrington-house-budget-committee-chairman-texas-republican-face-the-nation-transcript-03-30-2025/" target="_blank">Transcript: House Budget Committee chairman Rep. Jodey Arrington on "Face the Nation with Margaret Brennan," March 30, 2025</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/uaw-president-shawn-fain-tariffs-auto-works-donald-trump/" target="_blank">UAW president Shawn Fain says "tariffs are a tool in the toolbox"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/opinion-poll-trump-economy-tariffs-deportation-immigration/" target="_blank">CBS News poll finds Americans want Trump's focus more on prices, not tariffs</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/shawn-fain-uaw-president-face-the-nation-transcript-03-30-2025/" target="_blank">Transcript: UAW president Shawn Fain on "Face the Nation with Margaret Brennan," March 30, 2025</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/how-the-arts-can-create-healthier-communities/" target="_blank">HealthWatch</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/fda-top-vaccine-official-peter-marks-forced-out-decries-rfk-jr-misinformation-and-lies/" target="_blank">FDA's top vaccine official forced out, decries RFK Jr.'s "misinformation and lies"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/rfk-jr-to-gut-vaccine-promotion-and-hiv-prevention-office-sources-say/" target="_blank">RFK Jr. to gut vaccine promotion and HIV prevention office, sources say</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/utah-bans-fluoride-public-water-systems-spencer-cox/" target="_blank">Utah becomes first state to ban adding fluoride to public water systems</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/kansas-measles-cases-outbreak/" target="_blank">Kansas reports measles outbreak with 23 cases</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/earthquake-tonga-pacific-island-nation-days-deadly-myanmar-quake/" target="_blank">Earthquake strikes near Pacific island of Tonga, days after Myanmar quake</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/rocket-isar-aerospace-crash-takeoff-norway/" target="_blank">Rocket carrying European orbital vehicle crashes after seconds after takeoff</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/myanmar-earthquake-thailand-bangkok-death-toll-rises-officials-assess-damage/" target="_blank">Damage from Myanmar earthquake assessed as death toll rises to 1,662</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/iran-tehran-rejected-negotiations-us-trump-letter/" target="_blank">Iran has rejected direct negotiations with the U.S. after Trump letter</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/academy-apologizes-oscar-winning-palestinian-director-hamdan-ballal-attack-west-bank-settlers-no-other-land/" target="_blank">Academy apologizes for not naming Oscar-winning Palestinian director in statement</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/elton-john-and-brandi-carlile-who-believes-in-angels/" target="_blank">Elton John on Brandi Carlile: She gave me "a fresh start"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/extended-interview-sir-elton-john-and-brandi-carlile/" target="_blank">Extended interview: Sir Elton John and Brandi Carlile</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/elton-john-brandi-carlile-on-their-dream-collaboration/" target="_blank">Elton John, Brandi Carlile on their dream collaboration</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/richard-chamberlain-star-shogun-and-the-thorn-birds-dies-90/" target="_blank">Richard Chamberlain, star of "Shogun" and "The Thorn Birds," dies at 90</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/what-is-the-future-of-the-kennedy-center/" target="_blank">What is the future of the Kennedy Center?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/demand-power-ai-cryptocurrency-grows/" target="_blank">Technology</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/mike-waltz-venmo-signal-chat-yemen/" target="_blank">Waltz's Venmo showed his contacts — even after bombshell report on Signal chat</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/how-ai-powered-robots-are-helping-small-farms-fight-labor-shortages/" target="_blank">How AI powered robots are helping small farms</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/lawsuit-against-openai-newspaper-copyright/" target="_blank">Lawsuit against OpenAI over newspaper copyright can proceed, judge rules</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/what-signal-app-trumps-team-used-chat-yemen-war-plans/" target="_blank">What is Signal, the app used by Trump's team</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/is-carbon-capture-a-solution-to-the-climate-crisis/" target="_blank">Is carbon capture a solution to the climate crisis?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/is-carbon-capture-a-solution-to-the-climate-crisis/" target="_blank">Is carbon capture a solution to the climate crisis?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/mammoths-butchered-ivory-tusks-unearthed-austria/" target="_blank">Bones of mammoths butchered for their tusks unearthed by archaeologists</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/venus-passes-between-earth-sun-inferior-conjunction-venus-kiss/" target="_blank">Venus will pass between the Earth and sun on Saturday</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/dark-energy-changing-new-observations-universe-fate/" target="_blank">New evidence about dark energy may be "cusp of a major discovery"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/christy-giles-hilda-marcela-cabrales-david-pearce-los-angeles-murder-trial-48-hours/" target="_blank">Survivors speak up to help convict man of murder, sexual assault</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/utah-law-aims-to-protect-child-influencers/" target="_blank">Utah law to protect child influencers</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/woman-accused-of-keeping-stepson-captive-for-20-years-appears-in-court/" target="_blank">Case of stepson allegedly held captive</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/south-carolina-firing-squad-second-death-row-inmate/" target="_blank">Second South Carolina inmate on death row chooses firing squad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/michael-tanzi-execution-lethal-injection-florida/" target="_blank">Lawyers say execution of morbidly obese inmate could be botched</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/rocket-isar-aerospace-crash-takeoff-norway/" target="_blank">Rocket carrying European orbital vehicle crashes after seconds after takeoff</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/astronaut-mae-jemison-space-flight/" target="_blank">Mae Jemison on making history in space and inspiring change on Earth</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/march-2025-partial-solar-eclipse/" target="_blank">When, where to see the March partial solar eclipse</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/william-shatner-gayle-king-all-women-space-crew/" target="_blank">William Shatner offers Gayle King advice before women-led space flight</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/doge-cuts-to-noaas-space-office-could-harm-american-interests-democrats-warn/" target="_blank">Democrats warn of cuts to space office</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/notable-deaths-in-2025/" target="_blank">Notable Deaths in 2025</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/christy-giles-hilda-marcela-cabrales-arzola-death-david-pearce-photos/" target="_blank">Husband pieces together wife's last movements to find out how she was killed</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/scott-peterson-new-evidence/" target="_blank">The Scott Peterson case: New evidence?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/ashley-benefield-doug-benefield-troubled-marriage-photos/" target="_blank">The troubled marriage of Ashley and Doug Benefield</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/pictures/cayley-mandadi-death-final-hours-photos/" target="_blank">Texas couple investigates teen daughter's unusual death</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/hostages-sunday-on-60-minutes/" target="_blank">Latest CBS News Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/nature-shorebirds-in-south-carolina/" target="_blank">Nature: Shorebirds in South Carolina</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/good-news-for-the-protection-of-migrating-birds/" target="_blank">Good news for the protection of migrating birds</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/how-the-arts-can-create-healthier-communities/" target="_blank">How the arts can create healthier communities</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/extended-interview-sir-elton-john-and-brandi-carlile/" target="_blank">Extended interview: Sir Elton John and Brandi Carlile</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    