
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYT</title>
    </head>
    <body>
        <main>
            <h1>NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/dura-critica-mauricio-macri-gobierno-milei-crece-preocupacion-falta-apego-institucional-empieza-afectar-plan-economico_0_Rh8CHX3iIT.html" target="_blank">  Macri, contra Milei: “Trabajar juntos nunca existió; fue rescatarlos para que el plan económico no se vaya al demonio”El ex mandatario habló en la Bolsa de Comercio de Córdoba. Además aseguró que "la mejor manera de apoyar al Presidente en las legislativas es votando al PRO, a dirigentes como Lospennato".También apuntó contra KarinaPolíticaMauricio Macri  en Córdoba.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/economia/dolar-hoy-dolar-blue-vivo-cotiza-precio-viernes-28-marzo-minuto-minuto_0_7nQ0TTG8uZ.html" target="_blank">El blue cerró la semana a $ 1.300 y el Central vendió dólares por décima ronda: en el mes, el rojo supera los US$ 1.000 millonesSigue la tensión cambiariaEconomía</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/terremoto-myanmar-tailandia-impactantes-fotos-videos-devastador-sismo_0_0INzcBAVof.html" target="_blank">Fuerte terremoto en Myanmar y Tailandia: las impactantes fotos y videos del desastreHay al menos 150 muertosMundoLoop. Así se vivió el terremoto de 7,7 grados en Myanmar: colapsos, destrozos y desaparecidos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/ciudadania-italiana-nuevo-decreto-pone-dura-restriccion-argentinos-tramitarla_0_PLENPuzyap.html" target="_blank">Ciudadanía italiana: un nuevo decreto pone una dura restricción a los argentinos que buscan tramitarla“No es un juego para ir a Miami”Emilia Vexler</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/detienen-argentina-indonesia-traficar-cocaina-podria-castigada-pena-muerte_0_MM8VVGDwo6.html" target="_blank">Detienen a una argentina por tráfico de drogas en el aeropuerto de Bali y podría ser condenada a pena de muerte IndonesiaPoliciales</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/cristina-kirchner-critico-dureza-acuerdo-fmi-apunto-milei-siento-ayer-primer-dia-desgobierno_0_VllpauqgZW.html" target="_blank">Otro ataque de Cristina a Milei: “Siento que ayer fue el primer día de tu desgobierno”Llamó cachivache a Luis CaputoPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/deportes/drama-oswaldo-balanta-pelotazo-torax-puede-provocar-paro-cardiaco_0_E6f7vqihAW.html" target="_blank">El drama de Oswaldo Balanta, jugador de San Lorenzo: por qué un pelotazo en el tórax puede causar un paro cardíacoSigue en estado críticoDeportes</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/autos/nissan-deja-fabricar-pickup-frontier-cordoba-cesa-actividad-comercial-pais_0_Nm1g8RPZgs.html" target="_blank">Nissan deja de fabricar vehículos en la Argentina: se lleva su producción a MéxicoQué modelos afectaGabriel Silveira</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/opinion/joven-siglo-pasado-vos-pasa_0_uCqDAbEL4r.html" target="_blank">Soy una joven del siglo pasado: ¿a vos también te pasa?Terapia abiertaDalia Gutmann </a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/radio-pilas-mazo-cartas-insolito-video-ue-explica-debe-tener-kit-supervivencia-dias_0_PHI9iHLfC8.html" target="_blank">El insólito video de la UE que explica qué debe tener el kit de supervivencia para tres díasRadio a pilas y mazo de cartasMarina Artusa</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/servicios/cuentas-dolares-5-opciones-cobrar-intereses-solo-tener-saldo-plazos-fijos_0_DtSbB95neN.html" target="_blank">Cuentas en dólares: 5 opciones para cobrar intereses sólo por tener saldo y sin plazos fijosQué tasa paganSolo suscriptoresMartín Grosz</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/espectaculos/hacer-buenos-aires-fin-semana-viernes-28-domingo-30-marzo-recitales-teatro-cine-streaming-muestras-gratis_0_zUArpn4J9P.html" target="_blank">Cine, teatro, salidas gratuitas y más: qué hacer en Buenos Aires este fin de semanaAgendaEspectáculos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/ciudad-jugadores-ahora-pelea-imponer-cancha-hara-partido_0_jn1rMKk4it.html" target="_blank">En la Ciudad los jugadores ya están y la pelea es por imponer la cancha del partidoDefinición de candidatosSolo suscriptoresIgnacio Miri</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/elecciones-2025-argentina-vivo-candidatos-legislativas-28-marzo_0_UtT12LhgjL.html" target="_blank">Alejado del PRO, Rodríguez Larreta dio los nombres de los dos dirigentes que lo acompañarán en su listaSe postula con su partidoPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/trama-detras-adorni-candidato-apuesta-fondo-factor-marra-testimoniales_0_IjuEromeQb.html" target="_blank">La trama detrás de la candidatura de Adorni: apuesta sin testimoniales y el factor MarraHombre fuerte del GobiernoSolo suscriptoresIgnacio Ortelli</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/ciudades/barrio-porteno-vota-javier-milei-consulta-popular-oficial-mismo-dia-eleccion-legisladores_0_Lf21OxydfU.html" target="_blank">El barrio porteño en el que vota Milei tendrá una consulta popular oficial el mismo día de la elección de legisladoresQué se votaráPedro Gianello</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/nueva-pista-esperanza-sigue-busqueda-joven-desaparecido-villa-angostura_0_OtvabSBQwH.html" target="_blank">Sigue la búsqueda del joven desaparecido en Villa La Angostura: la nueva pista que genera esperanzasUna semana de misterioSociedad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/internacional/lauren-sanchez-mujer-casa-jeff-bezos-venecia-increible-historia_0_Ik37jXpIRh.html" target="_blank">Quién es Lauren Sánchez, la mujer que se casa con Jeff Bezos con una extravagante boda en VeneciaTiene raíces latinasInternacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/atropellada-trump-rusia-patio-trasero-europa-pasa-modo-defensa-mira-sur_0_tFG5L1Grwj.html" target="_blank">Atropellada por Trump y con Rusia en el patio trasero, Europa pasa a “modo defensa”  y mira al SurFoco en América LatinaCarolina Brunstein. Enviada a Bruselas.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/increible-precio-libro-caro-escritor-argentino-vivo-exponen-joya-recoleta_0_FSbhh8cXCv.html" target="_blank">El increíble precio del libro más caro para un escritor argentino vivo que exponen como una joya en RecoletaCasi inconseguibleSolo suscriptoresPablo Sigal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/espectaculos/pajarito-gomez-pelicula-ridiculizo-palito-ortega-mostro-fabrica-idolo-pop-estupidez_0_f2xMUiOHwP.html" target="_blank">La película que ridiculizó a Palito Ortega y mostró cómo se fabrica un ídolo pop y la “estupidez”Pajarito GómezHernán Firpo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/policiales/discusion-estacion-servicio-termino-hombre-muerto-dijo-policias-acusados_0_FJcUQxWe8i.html" target="_blank">La discusión en una estación de servicio que terminó con un hombre muerto: qué dijo uno de los policías acusadosCórdobaPoliciales</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/aseguran-manu-viale-separo-anos-haberse-casado-motivos_0_bh6NrFrH1w.html" target="_blank">Aseguran que Manu Viale se separó a dos años de haberse casado: los motivos Difícil momento emocionalFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/gran-hermano-regreso-catalina-gorostidi-casa-reemplazo-furia_0_13T8cPhBJh.html" target="_blank">Gran Hermano: así fue el regreso de Catalina Gorostidi a la casa en reemplazo de FuriaVolvió al realityFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/julia-mengolini-defendio-criticas-dichos-seleccion-argentina-duele-digan_0_oe2sMLqvh3.html" target="_blank">Julia Mengolini se defendió de las críticas por sus dichos contra la Selección Argentina: “Duele que no digan nada”Tras la goleadaFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/mauro-icardi-mostro-picnic-china-suarez-hijos-picantes-gusta-wanda-nara_0_vpZPWqgget.html" target="_blank">Mauro Icardi se mostró de picnic con La China Suárez y sus hijos: los picantes “me gusta” de Wanda NaraEn PalermoFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=fLA4JJO2qWw" target="_blank">Monumental goleada de Argentina a Brasil Mundial 2026 Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=DlYefjTbvBI" target="_blank">Por qué dejaron morir a Diego Maradona: las primeras revelacionesPor Emmanuel DalbeVideos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=JzPnqSPe7GQ" target="_blank">Cuáles son los síntomas, quiénes se deben vacunar y cómo prevenirlo Sarampión Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=Dk0rl8H6Kng" target="_blank">Para qué se usa el misterioso gasómetro de la General Paz Cómo es por dentro Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/new-york-times-international-weekly/3-anos-desenterraron-silencio-mayores-tesoros-inglaterra_0_kQQRccUMxG.html" target="_blank">Durante tres años desenterraron en silencio uno de los mayores tesoros de InglaterraObjetos de la Edad de HierroAli Watkins</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://elle.clarin.com/estilo-de-vida/celebridades/cynthia-erivo-actriz-celebridad-pelicula-wicked_0_6W4yXr2jRs.html" target="_blank">Cynthia Erivo: La dicotomía de una estrellaEntrevistaEstilo de vida - Celebridades</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    