
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYT</title>
    </head>
    <body>
        <main>
            <h1>NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/elecciones-portenas-2025-foto-mauricio-jorge-macri-pro-confirmo-silvia-lospennato-cabeza-lista_0_dnuGgjwrQ5.html" target="_blank">Con una foto con Mauricio y Jorge Macri, el PRO confirmó a Silvia Lospennato como cabeza de lista en la CiudadLa diputada nacional encabezará la nómina de candidatos a legisladores. Hernán Lombardi le ganó la pulseada a Fernán Quirós como número 2. Críticas de María Eugenia Vidal a Karina Milei tras no lograr un acuerdo para competir juntos.Elecciones porteñasPolíticaLospennato es actual diputada nacional del PRO. </a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/economia/banco-central-vendio-dolares-decima-rueda-consecutiva-reservas-perforaron-us-26000-millones_0_b5zej4jctQ.html" target="_blank">El blue cerró la semana a $ 1.300 y el Central vendió dólares por décima ronda: en el mes, el rojo supera los US$ 1.000 millonesSigue la tensión cambiariaAnnabella Quiroga</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/terremoto-myanmar-tailandia-impactantes-fotos-videos-devastador-sismo_0_0INzcBAVof.html" target="_blank">Fuerte terremoto en Myanmar y Tailandia: las impactantes fotos y videos del desastreHay al menos 150 muertosMundoLoop. Así se vivió el terremoto de 7,7 grados en Myanmar: colapsos, destrozos y desaparecidos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/ciudadania-italiana-nuevo-decreto-pone-dura-restriccion-argentinos-tramitarla_0_PLENPuzyap.html" target="_blank">Ciudadanía italiana: un nuevo decreto pone una dura restricción a los argentinos que buscan tramitarla“No es un juego para ir a Miami”Emilia Vexler</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/peronismo-ucr-bloquearon-jugada-gobierno-senado-dejaran-lugar-agn_0_dBWs7vi3pO.html" target="_blank">El peronismo y la UCR bloquearon la jugada del Gobierno en el Senado y lo dejarán sin lugar en la AGNOrganismo de controlGustavo Berón</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/detienen-argentina-indonesia-traficar-cocaina-podria-castigada-pena-muerte_0_MM8VVGDwo6.html" target="_blank">Detienen a una argentina por tráfico de drogas en el aeropuerto de Bali y podría ser condenada a pena de muerte IndonesiaPoliciales</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/deportes/dorival-junior-dejo-entrenador-brasil-4-1-argentina-sueno-cbf-tapar-crisis-pep-guardiola_0_QRU30e98TW.html" target="_blank">Brasil echó Dorival como DT y sueña con Pep Guardiola para tapar su crisisTras la goleada de ArgentinaDeportes</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/internacional/lauren-sanchez-mujer-casa-jeff-bezos-venecia-increible-historia_0_Ik37jXpIRh.html" target="_blank">Quién es Lauren Sánchez, la mujer que se casa con Jeff Bezos con una extravagante boda en VeneciaTiene raíces latinasInternacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/autos/nissan-deja-fabricar-pickup-frontier-cordoba-cesa-actividad-comercial-pais_0_Nm1g8RPZgs.html" target="_blank">Nissan deja de fabricar vehículos en la Argentina: se lleva su producción a MéxicoQué modelos afectaGabriel Silveira</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/radio-pilas-mazo-cartas-insolito-video-ue-explica-debe-tener-kit-supervivencia-dias_0_PHI9iHLfC8.html" target="_blank">El insólito video de la UE que explica qué debe tener el kit de supervivencia para tres díasRadio a pilas y mazo de cartasMarina Artusa</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/opinion/joven-siglo-pasado-vos-pasa_0_uCqDAbEL4r.html" target="_blank">Soy una joven del siglo pasado: ¿a vos también te pasa?Terapia abiertaDalia Gutmann </a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/servicios/cuentas-dolares-5-opciones-cobrar-intereses-solo-tener-saldo-plazos-fijos_0_DtSbB95neN.html" target="_blank">Cuentas en dólares: 5 opciones para cobrar intereses sólo por tener saldo y sin plazos fijosQué tasa paganSolo suscriptoresMartín Grosz</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/elecciones-2025-argentina-vivo-candidatos-legislativas-28-marzo_0_UtT12LhgjL.html" target="_blank">Alejado del PRO, Rodríguez Larreta dio los nombres de los dos dirigentes que lo acompañarán en su listaSe postula con su partidoPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/yamil-santoro-presento-candidato-elecciones-portenas-leandro-santoro_0_wlfXl0WEfn.html" target="_blank">Yamil Santoro presentó a su candidato para las elecciones porteñas: será Leandro Santoro, su hermanoHomónimo del rival del PJPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/trama-detras-adorni-candidato-apuesta-fondo-factor-marra-testimoniales_0_IjuEromeQb.html" target="_blank">La trama detrás de la candidatura de Adorni: apuesta sin testimoniales y el factor MarraHombre fuerte del GobiernoSolo suscriptoresIgnacio Ortelli</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/ciudades/barrio-porteno-vota-javier-milei-consulta-popular-oficial-mismo-dia-eleccion-legisladores_0_Lf21OxydfU.html" target="_blank">El barrio porteño en el que vota Milei tendrá una consulta popular oficial el mismo día de la elección de legisladoresQué se votaráPedro Gianello</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/banco-central-declaro-irrecuperables-deudas-hotel-emblema-kirchner_0_uTqza9Ik3H.html" target="_blank">El Banco Central declaró “irrecuperables” deudas del hotel emblema de los Kirchner   Por una serie de créditosLucía Salinas</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/rosario-nevado-impresionantes-imagenes-temporal-granizo-cayo-ciudad-alarmo_0_hrMHueaCG0.html" target="_blank">Rosario “nevada”: las impresionantes imágenes del temporal de granizo que cayó sobre la región y alarmó a todosComo si fuera BarilocheSociedad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/nueva-pista-esperanza-sigue-busqueda-joven-desaparecido-villa-angostura_0_OtvabSBQwH.html" target="_blank">Sigue la búsqueda del joven desaparecido en Villa La Angostura: la nueva pista que genera esperanzasUna semana de misterioSociedad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/espectaculos/pajarito-gomez-pelicula-ridiculizo-palito-ortega-mostro-fabrica-idolo-pop-estupidez_0_f2xMUiOHwP.html" target="_blank">La película que ridiculizó a Palito Ortega y mostró cómo se fabrica un ídolo pop y la “estupidez”Pajarito GómezHernán Firpo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/policiales/discusion-estacion-servicio-termino-hombre-muerto-dijo-policias-acusados_0_FJcUQxWe8i.html" target="_blank">La discusión en una estación de servicio que terminó con un hombre muerto: qué dijo uno de los policías acusadosCórdobaPoliciales</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/paradisiaco-cumpleanos-karina-jelinek-mexico-junto-novia-todas-fotos_0_lAntR5EXz1.html" target="_blank">El paradisíaco cumpleaños de Karina Jelinek en México junto a su novia: todas las fotos Celebró sus 44 en TulumFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/aseguran-manu-viale-separo-anos-haberse-casado-motivos_0_bh6NrFrH1w.html" target="_blank">Aseguran que Manu Viale se separó a dos años de haberse casado: los motivos Difícil momento emocionalFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/gran-hermano-regreso-catalina-gorostidi-casa-reemplazo-furia_0_13T8cPhBJh.html" target="_blank">Gran Hermano: así fue el regreso de Catalina Gorostidi a la casa en reemplazo de FuriaVolvió al realityFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/julia-mengolini-defendio-criticas-dichos-seleccion-argentina-duele-digan_0_oe2sMLqvh3.html" target="_blank">Julia Mengolini se defendió de las críticas por sus dichos contra la Selección Argentina: “Duele que no digan nada”Tras la goleadaFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=fLA4JJO2qWw" target="_blank">Monumental goleada de Argentina a Brasil Mundial 2026 Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=DlYefjTbvBI" target="_blank">Por qué dejaron morir a Diego Maradona: las primeras revelacionesPor Emmanuel DalbeVideos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=JzPnqSPe7GQ" target="_blank">Cuáles son los síntomas, quiénes se deben vacunar y cómo prevenirlo Sarampión Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=Dk0rl8H6Kng" target="_blank">Para qué se usa el misterioso gasómetro de la General Paz Cómo es por dentro Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/new-york-times-international-weekly/3-anos-desenterraron-silencio-mayores-tesoros-inglaterra_0_kQQRccUMxG.html" target="_blank">Durante tres años desenterraron en silencio uno de los mayores tesoros de InglaterraObjetos de la Edad de HierroAli Watkins</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://elle.clarin.com/estilo-de-vida/celebridades/cynthia-erivo-actriz-celebridad-pelicula-wicked_0_6W4yXr2jRs.html" target="_blank">Cynthia Erivo: La dicotomía de una estrellaEntrevistaEstilo de vida - Celebridades</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    