
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYT</title>
    </head>
    <body>
        <main>
            <h1>NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/elecciones-2025-argentina-vivo-pocas-cierre-listas-definen-ultimos-candidatos_0_c0ynTRJynb.html" target="_blank">Elecciones 2025: una por una, así están las listas de candidatos para la CiudadEsta medianoche vence el plazo para la presentación de las nóminas. Lospennato, Adorni, Larreta, Leandro Santoro y Ramiro Marra encabezan las principales boletas de legisladores.Cierre de las listas, EN VIVO: dudas, sorpresas, spots y todo lo que tenés que saber"El proceso de la extinción del kirchnerismo como doctrina política ha comenzado", el tuit del Gordo Dan que compartió el PresidenteA horas del cierrePolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/enojado-espacio-dieron-listas-zago-rompio-pro-lanza-candidatos_0_vdbOaqzDZm.html" target="_blank">Enojado con los Macri por las listas, Zago rompió con el PRO y candidatea a  Caruso Lombardi: “Están tirando la Ciudad a la B”Bronca del ex diputado libertarioPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/economia/caputo-fmi-danza-us-20000-millones-entran-cancha_0_fHSNzNPaGR.html" target="_blank">Caputo, el FMI y la danza de los US$ 20.000 millones entran a la canchaFoco EconómicoSolo suscriptoresDaniel Fernández Canedo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/terremoto-myanmar-tailandia-ascienden-694-muertos-1670-heridos_0_cnPwqGuoMZ.html" target="_blank">Terremoto en Myanmar y Tailandia: el número de muertos asciende a 1.664 y los heridos son casi 3.400Los números de la tragediaMundo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/historias/unico-argentino-detenido-carcel-bukele-tratan-emotiva-visita-padre-podrian-liberarlo_0_QQ3l9NaZBN.html" target="_blank">El único argentino preso en una cárcel de Bukele: por qué cayó y cómo lo tratanCasi 2 años detenidoSolo suscriptoresF. Ladrón de Guevara</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/adolescencia-incels-argentina-juicio-comienza-hecho-grave-facultad_0_NaBnDxaWSi.html" target="_blank">Adolescencia: quiénes son los “incels” de Argentina y el juicio que comienza por un hecho grave en una facultadGrupos misóginosSolo suscriptoresMalena Nazareth Martos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/deportes/estadios-multitud-previa-ciudad-partida-mitad-viene-gran-derbi-betis-sevilla_0_T4FAe80EZC.html" target="_blank">Dos estadios con una multitud en la previa y una ciudad partida: se viene el “Gran Derbi” entre Betis y SevillaClarín en EspañaMartín Voogd</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/ciudades/puente-ferroviario-paso-anos-cerrado-grieta-politica-finalmente-reabre-hoy_0_0aFVIw1834.html" target="_blank">El puente que estuvo cerrado más de 2 años por la grieta política y reabre hoySobre el tren MitreSolo suscriptoresSofía Zappia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/adelantan-clima-fin-otono-buena-noticia-ciudad-posible-frio-extremo_0_Na02RZUnoY.html" target="_blank">Adelantan cómo será el clima hasta fin de otoño: buena noticia para la Ciudad pero con posible frío extremoNuevo informe oficialPablo Sigal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/ciudadania-italiana-nuevo-decreto-pone-dura-restriccion-argentinos-tramitarla_0_PLENPuzyap.html" target="_blank">Ciudadanía italiana: un nuevo decreto pone una dura restricción a los argentinos que buscan tramitarla“No es un juego para ir a Miami”Emilia Vexler</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/banco-saya-malha-masacre-ecosistema-marino-pulmon-oceanos_0_nwpJXyd1iL.html" target="_blank">Banco Saya de Malha: la masacre de un ecosistema marino que es pulmón de los océanosThe Outlaw Ocean ProjectIan UrbinaLoop. Banco Saya de Malha</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/internacional/limpiaba-vidrios-edificio-desato-terremoto-tailandia-video-terror-milagro-alturas_0_jr60ol2KZH.html" target="_blank">Limpiaba los vidrios de un edificio cuando se desató el terremoto en Tailandia: video del milagro en las alturasTerror en BangkokInternacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/vidal-cruzo-larreta-division-pro-alerto-eventual-triunfo-kirchnerismo-parece-triste-peligroso_0_jF5zDWtev1.html" target="_blank">Vidal cruzó a Larreta por la división del PRO y alertó por un eventual triunfo K: “Me parece triste y peligroso”Dardos al ex jefe de GobiernoPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/elecciones-portenas-2025-foto-mauricio-jorge-macri-pro-confirmo-silvia-lospennato-cabeza-lista_0_dnuGgjwrQ5.html" target="_blank">Con Macri metido en la campaña y foto grupal, el PRO confirmó a Lospennato como cabeza de lista en la CiudadElecciones porteñasPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/ciudad-problemas-graves-olor-pis-huele-larreta-dijo-lula-levy-candidata-martin-lousteau_0_cv31w6a2Al.html" target="_blank">“En la Ciudad tenemos problemas mucho más graves que el olor a pis que huele Larreta“, dijo ”Lula“ LevyLa candidata de Martín LousteauPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/horas-cierre-listas-nueva-encuesta-midio-eleccion-portena-pelea-voto-voto_0_rY4rx7Wve8.html" target="_blank">A horas del cierre de listas, una nueva encuesta midió para la elección porteñaPelea voto a votoSolo suscriptoresEduardo Paladini</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/pueblos-originarios-armaron-partido-politico-competiran-elecciones-piden-cupo-banca-senado-diputados_0_fQtijfwxsO.html" target="_blank">Pueblos originarios armaron un partido político: piden un cupo indígena y planean competir a nivel nacional en 2027El estreno será en Santa FePedro Gianello</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/internacional/boda-venecia-lauren-sanchez-ira-espacio-mision-prometida-jeff-bezos_0_bRPgbv2uLG.html" target="_blank">Antes de la boda en Venecia, Lauren Sánchez irá al espacio: cuál es la misión de la prometida de Jeff BezosQuiénes viajan con ellaInternacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/conocio-millonaria-cifra-wanda-nara-exigio-mauro-icardi-cuota-alimentaria-hijas_0_00Pa1SjFHS.html" target="_blank">Se conoció la millonaria cifra que Wanda Nara le exigió a Mauro Icardi para la cuota alimentaria de sus hijasUn divorcio escandalosoFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/ciudades/alerta-redes-estafas-familias-buscan-mascotas-perdidas_0_w1UdVdqDyd.html" target="_blank">Alerta en las redes: cómo son las estafas a familias que buscan a sus mascotas perdidas Cada vez más habitualesCeleste Siarrusta</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/internacional/desgarrador-audio-hija-gene-hackman-policia-dia-descubrieron-cuerpos-padre-betsy-arakawa_0_D8tD6pT5Sy.html" target="_blank">El desgarrador audio de la hija de Gene Hackman y la policía el día que hallaron los cuerpos de su padre y Betsy ArakawaHabló con el sheriff localInternacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/gourmet/estrellas-michelin-vuelven-argentina-restaurantes-podrian-posicionarse-mejores-mundo_0_WUrIWso3jf.html" target="_blank">Las estrellas Michelin vuelven a la Argentina: qué restoranes podrían posicionarse entre los mejores del mundoA diez días de la premiaciónMaría Florencia Pérez</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/revista-n/democracia_0_WpAGCxuYJZ.html" target="_blank">Democracia: ¿desde cuándo y hacia dónde?OpiniónHilda Sabato</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/maxi-trusso-hablo-caida-escenario-reconocio-pase-espontaneo_0_8sTyAnoI41.html" target="_blank">Maxi Trusso habló tras tirarse al público desde el escenario y sufrir una fractura: “Me pasé de espontáneo”Cómo evolucionaBelén Cersósimo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/cocinera-jesica-cirio-rompio-silencio-conto-detalles-vinculo-modelo-elias-piccirillo_0_vKQ6D6iAK0.html" target="_blank">La cocinera de Jésica Cirio reveló detalles del vínculo de la modelo con Elías PiccirilloRompió el silencioFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/estefania-pasquini-rompio-silencio-video-muestra-discutiendo-hijos-alberto-cormillot_0_CBIbQEdCoI.html" target="_blank">Estefanía Pasquini se refirió al video que la muestra discutiendo con los hijos de Alberto CormillotInterna familiarFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/paradisiaco-cumpleanos-karina-jelinek-mexico-junto-novia-todas-fotos_0_lAntR5EXz1.html" target="_blank">El paradisíaco cumpleaños de Karina Jelinek en México junto a su novia: todas las fotos Celebró sus 44 en TulumFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=fLA4JJO2qWw" target="_blank">Monumental goleada de Argentina a Brasil Mundial 2026 Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=DlYefjTbvBI" target="_blank">Por qué dejaron morir a Diego Maradona: las primeras revelacionesPor Emmanuel DalbeVideos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=JzPnqSPe7GQ" target="_blank">Cuáles son los síntomas, quiénes se deben vacunar y cómo prevenirlo Sarampión Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=Dk0rl8H6Kng" target="_blank">Para qué se usa el misterioso gasómetro de la General Paz Cómo es por dentro Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/new-york-times-international-weekly/3-anos-desenterraron-silencio-mayores-tesoros-inglaterra_0_kQQRccUMxG.html" target="_blank">Durante tres años desenterraron en silencio uno de los mayores tesoros de InglaterraObjetos de la Edad de HierroAli Watkins</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://elle.clarin.com/estilo-de-vida/celebridades/cynthia-erivo-actriz-celebridad-pelicula-wicked_0_6W4yXr2jRs.html" target="_blank">Cynthia Erivo: La dicotomía de una estrellaEntrevistaEstilo de vida - Celebridades</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    