
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYT</title>
    </head>
    <body>
        <main>
            <h1>NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/science/microlightning-water-droplets-life-on-earth/index.html" target="_blank">Scientists redid an experiment that showed how life on Earth could have started. They found a new possibility</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/sport/berkin-usta-death-fire-turkey-skiing-spt-intl/index.html" target="_blank">Olympic skier Berkin Usta, 24, and his father die in hotel fire</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/tech/apple-iphone-17-siri-upgrades-china/index.html" target="_blank">Apple hopes to ‘reinvigorate interest’ with iPhone design overhaul</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/09/politics/video/jake-tapper-abscam-united-states-of-scandal" target="_blank">Video
How a $50K bribe offer exposed a network of corrupt politicians
1:05</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//travel/what-its-like-visit-greenland/index.html" target="_blank">Everyone is talking about Greenland. Here’s what it’s like to visit</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/27/style/chatgpt-studio-ghibli-ai-images-intl-hnk/index.html" target="_blank">Studio Ghibli-style AI portraits flood social media</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/style/h-and-m-ai-models-intl-scli/index.html" target="_blank">Fashion giant H&M plans to use AI clones of its human models. Not everyone is happy</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/us/kansas-monster-under-bed-arrest-hnk/index.html" target="_blank">Child complains of ‘monster’ under the bed. Babysitter then comes face-to-face with man hiding there</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//world/africa/uganda-gorilla-conservation-gladys-kalema-zikusoka-cte/index.html" target="_blank">This conservationist went to Uganda’s ‘impenetrable forest’ 30 years ago. Here’s why she never left</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/health/phone-distraction-study-wellness/index.html" target="_blank">This one thing might cut how much you use your phone in half, study finds</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/27/world/video/paddington-theft-cctv-digvid" target="_blank">Video
CCTV footage shows RAF engineers vandalize Paddington Bear statue
1:06</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/style/pamela-anderson-baywatch-swimsuit-design-museum/index.html" target="_blank">Pamela Anderson, ‘explosive’ bikinis and the changing tides of swimwear style</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//travel/american-dream-us-couple-ecuador-children-loja/index.html" target="_blank">‘Long commutes and never enough money’: Why this couple walked away from the American Dream</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/science/fossilized-fish-16-million-meal-australia/index.html" target="_blank">Fossilized fish up to 16 million years old found in Australia, with last meal still intact</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/asia/new-zealand-worlds-oldest-geckos-intl-hnk/index.html" target="_blank">Team finds pair of 60-year-old geckos in New Zealand who have exceeded their average lifespan</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/travel/jeff-bezos-venice-wedding-lauren-sanchez/index.html" target="_blank">Jeff Bezos and his fiancée are set to wed in Venice — but there’s one thing that could ruin their big day</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/27/entertainment/megan-fox-machine-gun-kelly-baby-girl/index.html" target="_blank">Megan Fox and Machine Gun Kelly welcome baby girl</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/entertainment/will-smith-chris-rock-slap-new-music/index.html" target="_blank">Will Smith returns to his Oscar slap in new music</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/business/video/amazon-alexa-privacy-removal-clare-duffy-digvid" target="_blank">Video
‘An incremental loss of control’: Privacy expert explains why a change to Amazon Echo matters
3:13</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    