
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYT</title>
    </head>
    <body>
        <main>
            <h1>NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/climate/guyana-oil-exxon/index.html" target="_blank">How a tiny country’s enormous oil reservoir will be a windfall for Exxon</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/travel/travel-news-airbus-zeroe-new-design/index.html" target="_blank">New design revealed for Airbus hydrogen plane</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/sport/alysa-liu-figure-skating-world-championships-spt-intl/index.html" target="_blank">This 19-year-old is the first American woman to win a figure skating world title in almost two decades</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/science/mars-curiosity-large-organic-molecules/index.html" target="_blank">Curiosity rover makes ‘arguably the most exciting organic detection to date on Mars’</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/24/business/video/self-driving-cars-rural-roads-uk-blueprint-spc-digvid" target="_blank">Video
Driverless car takes on winding country roads at 60mph
2:39</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/americas/ecuador-trump-noboa-gang-intl-latam/index.html" target="_blank">CNN Exclusive
Ecuador is preparing for US forces, plans show, as Noboa calls for help battling gangs</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/science/technofossils-science-newsletter-wt/index.html" target="_blank">Wind turbine parts may be giant technofossils that puzzle future scientists</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/asia/afghanistan-war-pilots-limbo-us-resettlement-intl-hnk-dst/index.html" target="_blank">‘Get us out of here’: Anti-migrant policies leave Afghan pilots fearing for their lives</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/travel/takeoff-landings-riskiest-part-of-your-flight/index.html" target="_blank">What’s the riskiest part of your flight? It isn’t cruising at 40,000 feet</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/sport/japan-baseball-analysis-spt/index.html" target="_blank">Analysis
Why Japan is baseball’s answer to its longtime prayer</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/middleeast/israel-young-people-extremist-views-intl-cmd/index.html" target="_blank">‘It starts at the top’: Extremist views are all that many young Israelis have ever known</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/us/andrew-jackson-us-currency-slavery-cec/index.html" target="_blank">Harriet Tubman fought slavery. Most of the men on US paper currency had ties to it</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/health/video/fentanyl-whole-story-marisa-digvid" target="_blank">Video
‘What kind of piece of sh*t uses when pregnant?’: Young mom speaks out on fentanyl addiction
2:24</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//travel/chile-island-romance-chance-encounters/index.html" target="_blank">She couldn’t stop thinking about the man she’d waved at when her ship visited a remote island. Within a year they were married</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/us/missouri-lost-wedding-photos-found/index.html" target="_blank">Wedding photos mysteriously appeared on a Missouri lawn. It turned out they took a remarkable journey</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/us/selena-quintanilla-yolanda-saldivar-parole/index.html" target="_blank">On the 30th anniversary of Selena’s death, her killer is denied parole</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com/https://edition.cnn.com/interactive/2025/03/entertainment/black-line-dancing-protest-cnnphotos/" target="_blank">Black joy and boots: How line dancing is fanning cultural connection</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/sport/sam-ruthe-running-new-zealand-spt-intl/index.html" target="_blank">The world’s fastest 15-year-old sets his sights on Olympic gold</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/health/fluoride-tooth-decay-partner-kff-health-news/index.html" target="_blank">With few dentists and fluoride under siege, rural America risks new surge of tooth decay</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/business/video/amazon-alexa-privacy-removal-clare-duffy-digvid" target="_blank">Video
‘An incremental loss of control’: Privacy expert explains why a change to Amazon Echo matters
3:13</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    