
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CNN</title>
    </head>
    <body>
        <main>
            <h1>CNN</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/entertainment/richard-chamberlain-actor-dies/index.html" target="_blank">Actor Richard Chamberlain dies at 90</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/world/prince-harry-accused-harasssment-bullying-sentebale-intl/index.html" target="_blank">Prince Harry accused of ‘harassment and bullying’ by charity chairwoman</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/sport/ilia-malinin-world-figure-skating-title-spt-intl/index.html" target="_blank">US star lands most difficult jump in figure skating to win world title</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/health/adults-sleep-stuffed-animals/index.html" target="_blank">Adults can sleep with stuffed animals, too. It might even be a good thing, experts say</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/travel/travel-news-airbus-zeroe-new-design/index.html" target="_blank">New design revealed for Airbus hydrogen plane</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/science/mars-curiosity-large-organic-molecules/index.html" target="_blank">Curiosity rover makes ‘arguably the most exciting organic detection to date on Mars’</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/health/after-fentanyl-drug-use-tws/index.html" target="_blank">These four women started using drugs in their teens. How fentanyl changed everything</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/us/houston-deputy-suicides/index.html" target="_blank">Series of suicides hits sheriff’s office like a ‘bomb’</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/us/rumeysa-ozturk-tufts-university-arrest-saturday/index.html" target="_blank">A PhD student was snatched by masked officers in broad daylight. Then she was flown 1,500 miles away</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//travel/chile-island-romance-chance-encounters/index.html" target="_blank">She couldn’t stop thinking about the man she’d waved at when her ship visited a remote island. Within a year they were married</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/business/hyvegeo-green-desert-microalgae-charcoal-spc/index.html" target="_blank">This company has a secret weapon for turning the desert green</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/us/pride-month-protests-lgbtq/index.html" target="_blank">Under financial and political pressure, the LGBTQ+ community is ‘putting the protest back in Pride’ celebrations</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/28/health/video/fentanyl-whole-story-marisa-digvid" target="_blank">Video
‘What kind of piece of sh*t uses when pregnant?’: Young mom speaks out on fentanyl addiction
2:24</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/world/us-panama-immigration-migrants-asylum/index.html" target="_blank">She was expelled from the United States, but still thought America would help. She was wrong</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/sport/adolescence-john-amaechi-spt-wellness/index.html" target="_blank">Psychologist explains how sports could have helped, instead of hurt, ‘Adolescence’ character Jamie Miller</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/entertainment/snl-signal-texting-scandal-mikey-madison/index.html" target="_blank">Mikey Madison texts with government officials in ‘SNL’ cold open spoof of Signal group chat leak</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/health/lorazepam-white-lotus-wellness/index.html" target="_blank">Lorazepam gets starring role in ‘The White Lotus.’ What should you know about this powerful drug?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/sport/min-woo-lee-houston-open-spt-intl/index.html" target="_blank">Australian star Min Woo Lee on brink of first PGA Tour title after opening lead at Houston Open</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/us/video/plane-crash-video-brooklyn-park-minnesota-digvid" target="_blank">Video
Ring camera captures the moment a small plane crashes into a home
0:48</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/30/weather/tornado-thunderstorm-south-midwest-sunday-climate-hnk/index.html" target="_blank">Violent storms threaten tornadoes and golf ball-sized hail from Illinois to eastern Texas</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    