
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CNN_ESP</title>
    </head>
    <body>
        <main>
            <h1>CNN_ESP</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//eeuu/live-news/noticias-despliegue-guardia-nacional-washington-trax" target="_blank">Guardia Nacional en Washington</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/clima-y-tiempo/trayectoria-tormenta-tropical-erin-donde-esta-se-dirige-orix" target="_blank">Trayectoria de la tormenta Erin</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/sheinbaum-81-mexicanos-alligator-alcatraz-orix" target="_blank">Mexicanos en Alligator Alcatraz</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//colombia/live-news/noticias-muerte-uribe-turbay-colombia-orix" target="_blank">Muerte de Miguel Uribe Turbay</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/quien-fue-miguel-uribe-turbay-ataque-violencia-politica-colombiana-orix" target="_blank">Quién fue Uribe Turbay</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//eeuu/live-news/noticias-despliegue-guardia-nacional-washington-trax" target="_blank">También puso la Policía Metropolitana bajo control federal en una medida que, asegura, busca restablecer el orden en la capital de EE.UU.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/video/trump-rescate-crimen-washington-sot" target="_blank">"La tasa de homicidios de Washington es más alta que la de Bogotá y CDMX", dice Trump</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/tiroteo-taget-austin-texas-trax" target="_blank">Al menos cuatro heridos en un tiroteo en Austin, según autoridades</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/muerte-miguel-uribe-turbay-analisis-violencia-politica-elecciones-orix" target="_blank">La muerte de Uribe Turbay confronta a Colombia con su peor cara</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//colombia/live-news/noticias-muerte-uribe-turbay-colombia-orix" target="_blank">Colombia lamenta la muerte del senador Uribe Turbay</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/atentados-candidatos-presidenciales-orix" target="_blank">Los atentados contra candidatos presidenciales que marcaron la historia de Colombia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/que-paso-atentado-miguel-uribe-turbay-sospechosos-orix" target="_blank">¿Cómo fue el atentado contra Miguel Uribe Turbay? Esto reveló la investigación</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/quien-fue-miguel-uribe-turbay-ataque-violencia-politica-colombiana-orix" target="_blank">Quién fue Miguel Uribe Turbay</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/video/explota-planta-siderurgica-estados-unidos-trax" target="_blank">Explota una planta siderúrgica estadounidense cerca de Pittsburgh</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mundo/ataque-israeli-mata-periodistas-gaza-trax" target="_blank">Ataque israelí mata a varios periodistas en Gaza, incluidos destacados reporteros de Al Jazeera</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mundo/netanyahu-defiende-toma-ciudad-gaza-trax" target="_blank">Netanyahu defiende la toma de la Ciudad de Gaza mientras crece la condena internacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/clima-y-tiempo/trayectoria-tormenta-tropical-erin-donde-esta-se-dirige-orix" target="_blank">Trayectoria de la tormenta tropical Erin: dónde está y hacia dónde se dirige</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/explosion-planta-pensilvania-ap" target="_blank">Un muerto y dos desaparecidos en explosión en planta de coquización de US Steel en Pensilvania</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/maxwell-jurado-investigador-trump-trax" target="_blank">Juez rechaza solicitud para revelar material del jurado investigador en el caso Ghislaine Maxwell</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/trump-fabricantes-enfrentan-grandes-aranceles-trax" target="_blank">Trump pidió a fabricantes alejarse de China. Ahora enfrentan nuevos aranceles</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mundo/cumbre-putin-trump-alaska-trax" target="_blank">Europeos temen quedar relegados mientras Putin busca acuerdo con Trump</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/deportes/cristiano-ronaldo-se-casa-con-georgina-rodriguez-orix" target="_blank">Cristiano Ronaldo se casará con Georgina Rodríguez, que mostró el increíble anillo de compromiso</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/video/tormenta-nebraska-techo-prision-trax" target="_blank">Una intensa tormenta arranca el techo de una prisión</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/entretenimiento/juan-carlos-ramirez-muerte-actor-orix" target="_blank">Muere el actor Juan Carlos Ramírez, reconocido por producciones como “Rosario Tijeras” y “El último rey”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/clima-y-tiempo/cuando-podria-convertirse-erin-en-huracan" target="_blank">¿Cuándo podría convertirse Erin en huracán?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/clima-y-tiempo/se-forma-la-tormenta-tropical-erin-atlantico-trax" target="_blank">Se forma la tormenta tropical Erin en el océano Atlántico</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/sheinbaum-81-mexicanos-alligator-alcatraz-orix" target="_blank">El consulado mexicano ha entrevistado a 81 mexicanos en Alligator Alcatraz</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/economia/medios-chinos-advierten-chips-nvidia-trax" target="_blank">China advierte sobre chips de Nvidia ante fin de tregua arancelaria con EE.UU.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mexico/mexico-homicidios-cifras-violencia-orix" target="_blank">Repunta la violencia en México: suben homicidios en 2024 tras tres años a la baja</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mundo/australia-estado-palestino-ee-uu-aislado-trax" target="_blank">Australia reconocerá al Estado palestino</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/mexico/mexicanos-14-79-anios-entrevista-presencial-visa-ee-uu-orix" target="_blank">¿Quiénes son los mexicanos afectados por los cambios en el sistema de obtención de visas de EE.UU.?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/ciencia/inundaciones-texas-revelan-huellas-dinosaurios-trax" target="_blank">Huellas de dinosaurios de hace 100 millones de años quedan expuestas tras las inundaciones en Texas</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/eeuu/dentro-erosion-poder-judicial-gobierno-trump-trax" target="_blank">La erosión del poder judicial bajo el Gobierno de Trump</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/latinoamerica/nueva-masacre-ecuador-ocho-muertes-discoteca-santa-lucia-orix" target="_blank">Una nueva masacre estremece a Ecuador: ocho muertos en las afueras de una discoteca en Santa Lucía</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/deportes/liverpool-crystal-palace-final-community-shield-trax" target="_blank">Liverpool homenajeó a Diogo Jota en la final de la Community Shield que perdió ante Crystal Palace</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/mundo/japon-atraso-tecnologico-digital-fax-trax" target="_blank">Japón solía ser un gigante tecnológico. ¿Por qué sigue atascado con máquinas de fax y sellos de tinta?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/latinoamerica/alexandre-de-moraes-juez-brasil-poderosos-mundo-orix" target="_blank">Desafió a Musk, Bolsonaro y Trump: ¿quién es Alexandre de Moraes?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/entretenimiento/john-cena-trasplante-cabello-cambio-vida-trax" target="_blank">John Cena dice que hacerse un trasplante de cabello "cambió por completo el rumbo" de su vida</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/ciencia/video/cangrejo-robots-tenazas-pinzas-cortejo-trax" target="_blank">Cangrejos vs. máquinas: robot prueba tácticas de cortejo del cangrejo violinista</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/video/miguel-uribe-turbay-presidencia-colombia-obit" target="_blank">Miguel Uribe Turbay, el político que aspiraba a la Presidencia de Colombia hasta que lo alcanzó la tragedia de su familia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/video/explota-planta-siderurgica-estados-unidos-trax" target="_blank">Explota una planta siderúrgica estadounidense cerca de Pittsburgh</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/video/tormenta-nebraska-techo-prision-trax" target="_blank">Una intensa tormenta arranca el techo de una prisión</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/entretenimiento/video/insecto-jennifer-lopez-concierto-kazajstan-trax" target="_blank">Un insecto se sube a J.Lo durante un concierto en Kazajstán</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/video/trump-rescate-crimen-washington-sot" target="_blank">"La tasa de homicidios de Washington es más alta que la de Bogotá y CDMX", dice Trump ante despliegue de la Guardia Nacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/espana/video/bola-fuego-espana-cielo-cohete-chino-orix" target="_blank">Impresionante bola de fuego cruza el cielo sobre España</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/video/ladrones-roban-munecos-labubu-la-trax" target="_blank">Ladrones enmascarados roban muñecos Labubu por valor de US$ 7.000</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/trump-anuncia-despliegue-guardia-nacional-washington-policia-metropolitana-control-federal-trax" target="_blank">Trump anuncia despliegue de la Guardia Nacional en Washington y pone a la Policía Metropolitana bajo control federal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/neoyorquino-puerto-rico-concierto-bad-bunny-ap" target="_blank">Un joven de Nueva York que viajó a Puerto Rico para ver un concierto de Bad Bunny murió por disparos, según la Policía</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/06/eeuu/video/trump-transferencia-prision-maxwell-epstein-trax" target="_blank">Le preguntan a Trump si sabía de la transferencia de prisión de Ghislaine Maxwell</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/eeuu/video/inundaciones-wisconsin-estado-emergencia-trax" target="_blank">Coches inundados y calles anegadas: Wisconsin declara estado de emergencia en medio de lluvias intensas</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/video/colombianos-muerte-reacciones-muerte-miguel-uribe-turbay-orix" target="_blank">“Lamentable”: Colombianos se sienten conmocionados por la muerte de Miguel Uribe Turbay</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/petro-mensaje-muerte-miguel-uribe-turbay-orix" target="_blank">Petro lamenta la muerte de Miguel Uribe Turbay: “La vida está por encima de cualquier ideología”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/quien-es-sospechoso-atentado-miguel-uribe-turbay-orix" target="_blank">¿Quién es el acusado de disparar contra Miguel Uribe Turbay? Esto sabemos del adolescente y cómo avanza la investigación</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/colombia/muere-senador-colombiano-miguel-uribe-turbay-tras-atentado-7-de-junio-orix" target="_blank">Muere el senador colombiano Miguel Uribe Turbay, víctima de un atentado en junio</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mexico/lluvias-inundaciones-ciudad-mexico-orix" target="_blank">Fuertes lluvias causan inundaciones y afectación vial en varios puntos de la Ciudad de México</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mundo/video/eeuu-ciudades-vida-nocturna-redaccion-buenos-aires-tv" target="_blank">Las mejores ciudades para la vida nocturna en EE.UU., según Time Out</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mundo/5-cosas-11-agosto-orix" target="_blank">Las 5 cosas que debes saber este 11 de agosto: Trump y Putin, Gaza, avión de Qatar y homenaje a Diogo Jota</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mundo/video/vecinos-hogares-incendios-forestales-europa-trax" target="_blank">Los vecinos entran en acción en Europa ante la amenaza de los incendios forestales a sus hogares</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/mundo/video/nino-morir-ayuda-humanitaria-gaza-trax" target="_blank">Un niño de Gaza muere al ser golpeado por un paquete de ayuda humanitaria</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/mundo/video/netanyahu-trump-nuevo-plan-guerra-gaza-mirador-mundial-tv" target="_blank">Netanyahu habla con Trump sobre los planes para ampliar la guerra en Gaza</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/eeuu/advertencias-redadas-ice-inmigracion-trax" target="_blank">Las creativas —y controvertidas— formas en que la gente advierte sobre las redadas de ICE en EE.UU.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/eeuu/video/cambian-requisitos-ice-efectos-consecuencias-mirador-mundial-tv" target="_blank">Cambian requisitos para unirse a ICE: ¿qué efectos puede tener sobre el panorama migratorio en EE.UU.?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/mundo/espana-bastion-latinoamericanos-antiinmigrante-orix" target="_blank">¿Fin del sueño europeo? España sigue siendo bastión para los latinoamericanos, pero aumenta la retórica antiinmigrante</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/eeuu/irs-comparte-datos-contribuyentes-inmigrantes-indocumentados-trax" target="_blank">IRS comparte datos confidenciales de contribuyentes con autoridades de inmigración para encontrar inmigrantes indocumentados</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/eeuu/jueza-evalua-intento-trump-protecciones-ninos-migrantes-trax" target="_blank">Jueza evalúa el intento del Gobierno de Trump de eliminar protecciones para niños migrantes detenidos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/eeuu/exclusivo-fuerzas-federales-entrevistar-ninos-inmigrantes-trax" target="_blank">Exclusiva: fuerzas federales comenzarán a entrevistar a niños inmigrantes no acompañados bajo custodia del Gobierno</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/07/colombia/monos-arana-cafe-colombia-cte-llamado-tierra" target="_blank">Los intrépidos monos araña café están en peligro de extinción. Así trabajan en Colombia para salvarlos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/07/24/clima-y-tiempo/video/lince-iberico-sorprendente-recuperacion-espana-llamado-tierra-cte" target="_blank">El lince ibérico: la sorprendente recuperación de esta especie en España</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/07/17/clima-y-tiempo/video/cientifica-descubre-misterios-pasado-escondidos-hielo-llamado-tierra-cte" target="_blank">Esta científica descubre misterios del pasado escondidos en el hielo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/07/10/clima-y-tiempo/video/cnne-mono-arana-colombia-cte-llamado-tierra" target="_blank">Recuperando el hábitat de uno de los primates más grandes de Sudamérica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/06/18/clima-y-tiempo/dia-llamado-tierra-2025-espacio-verde-cte-orix" target="_blank">Únete a nosotros al Día del Llamado a la Tierra el 6 de noviembre de 2025 y protege tu espacio verde</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/07/03/mundo/tigre-tasmania-dodo-desextincion-cte-llamado-tierra" target="_blank">Del tigre de Tasmania al dodo: los animales que los científicos quieren "revivir"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/06/26/clima-y-tiempo/video/orcas-peligro-inteligencia-artificial-ayuda-protegerlas-columbia-britanica-canada-llamado-tierra-cte" target="_blank">Orcas en peligro: cómo la inteligencia artificial ayuda a protegerlas en Columbia Británica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/06/13/clima-y-tiempo/video/cnne-everglades-restauracion-florida-tratamiento-agua-cte-llamado-tierra" target="_blank">Así marcha la restauración de los Everglades, el humedal subtropical más grande de EE.UU.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/06/20/argentina/argentina-rescate-condores-cte-llamado-tierra" target="_blank">Guardianes de los cóndores: así es el trabajo que ha permitido rescatar a más de 500 majestuosas aves en Argentina</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/economia/nvidia-amd-pagar-ingresos-ventas-chips-china-a-eeuu-trax" target="_blank">Nvidia y AMD acuerdan pagar 15 % de ingresos por ventas de chips en China al Gobierno de EE.UU., informa Financial Times</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/economia/casa-blanca-debate-empleo-trump-trax" target="_blank">La Casa Blanca intenta cambiar el debate sobre el escándalo de la Oficina de Estadísticas Laborales de Trump</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/economia/trump-advierte-gran-depresion-anulan-aranceles-trax" target="_blank">Trump advierte sobre otra Gran Depresión si un tribunal anula los aranceles</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/07/economia/aranceles-toyota-trump-reux" target="_blank">Toyota advierte de un impacto sin precedentes de US$ 9.500 millones en sus ganancias debido a los aranceles</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/06/economia/aranceles-trump-brasil-china-cafe-orix" target="_blank">Los aranceles de Trump a Brasil entran en vigor mientras China saca provecho y elogia el "queridísimo café brasileño"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/ciencia/video/robot-china-tienda-bebidas-orix" target="_blank">Así funciona la innovadora tienda de bebidas atendida únicamente por un robot en China</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/ciencia/adn-viral-antiguo-desarrollo-temprano-humano-estudio-trax" target="_blank">El ADN viral antiguo podría desempeñar un papel clave en el desarrollo temprano humano, sugiere nuevo estudio</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/ciencia/chatgpt-5-mas-inteligente-open-ai-trax" target="_blank">El nuevo ChatGPT 5 es más inteligente y menos propenso a engañarte</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/ciencia/muere-jim-lovell-astronauta-apolo-13-trax" target="_blank">Muere Jim Lovell, astronauta del Apolo 13, a los 97 años</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/07/ciencia/como-ver-luna-llena-agosto-esturion-trax" target="_blank">Cómo ver la luna llena de agosto o la luna de esturión 2025</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/clima-y-tiempo/henriette-recupera-fuerza-tormenta-tropical-pacifico-ap" target="_blank">Henriette recupera la fuerza de tormenta tropical en el Pacífico</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/clima-y-tiempo/tormentas-nebraska-muerto-evacuar-cientos-ap" target="_blank">Tormentas en Nebraska dejan un muerto y un herido, y obligan a evacuar a cientos de reclusos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/06/clima-y-tiempo/trayectoria-tormenta-tropical-ivo-donde-esta-orix" target="_blank">Trayectoria de la tormenta tropical Ivo: dónde está y hacia dónde se dirige</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/07/clima-y-tiempo/video/que-es-tormenta-tropical-orix" target="_blank">¿Qué es una tormenta tropical y cómo se forma?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/05/clima-y-tiempo/henriette-tormenta-tropical-donde-esta-dirige-orix" target="_blank">Trayectoria de la tormenta tropical Henriette: dónde está y hacia dónde se dirige</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/deportes/video/cristiano-ronaldo-georgina-rodriguez-comprometio-deportes-tv" target="_blank">¡Hay boda! Cristiano Ronaldo y Georgina Rodríguez se comprometieron</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/deportes/video/nicki-nicole-lamine-yamal-fc-barcelona-deportes-tv" target="_blank">Nicki Nicole estuvo presente en el triunfo del FC Barcelona de Lamine Yamal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/deportes/victoria-mboko-naomi-osaka-canada-trax" target="_blank">¿Quién es Victoria Mboko, la joven de 18 años que derrotó a Naomi Osaka y ganó su primer título en el Abierto de Canadá?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/deportes/manchester-united-boca-juniors-marcos-rojo-orix" target="_blank">Jugó en Manchester United y Boca Juniors, pero su nuevo equipo no quiere decir su apellido</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/deportes/video/crystal-palace-daniel-munoz-jefferson-lerma-community-shield-deportes-tv" target="_blank">El Crystal Palace da el batacazo y alza el trofeo de la Community Shield ante el Liverpool</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/salud/alimentos-ultraprocesados-buenos-y-malos-trax" target="_blank">Estos son los alimentos ultraprocesados buenos y malos, según la American Heart Association</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//salud/video/como-ayudar-estudiantes-neurodivergentes-exito-vls-minuto-de-salud-fast" target="_blank">Cómo ayudar a los estudiantes neurodivergentes a alcanzar el éxito</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//salud/video/eeuu-enfermedad-legionario-legionela-nueva-york-vls-minuto-salud-fast" target="_blank">Hay un peligroso brote de legionela en Nueva York, ¿qué deberías saber sobre esta enfermedad?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/06/salud/brote-sarampion-eeuu-desacelera-anio-escolar-riesgo-trax" target="_blank">Un gran brote de sarampión en EE.UU. se desacelera, pero el inicio del año escolar trae un nuevo riesgo de propagación</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//salud/video/ideas-saludables-desayuno-almuerzo-vls-minuto-de-salud-fast" target="_blank">Comidas saludables y fáciles de preparar para el desayuno y el amuerzo escolar</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/latinoamerica/samuel-doria-medina-entrevista-cnn-arancel-cero-ee-uu-orix" target="_blank">Samuel Doria Medina en CNN: “Esperamos llegar a tener un arancel cero con EE.UU.”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/latinoamerica/video/tuto-quiroga-aranceles-eeuu-no-me-gustan-oppenheimer-presenta-tv" target="_blank">Tuto Quiroga critica la política arancelaria de EE.UU.: “No me gustan los países que suben aranceles”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/latinoamerica/video/doria-medina-arancel-0-eeuu-oppenheimer-presenta-tv" target="_blank">Doria Medina sobre aranceles de EE.UU.: “Buscaríamos un entendimiento para no pagarlos"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/08/mexico/mexico-exporta-computadoras-estados-unidos-orix" target="_blank">Por primera vez en una década, México exporta a EE.UU. más computadoras y otros aparatos que autos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/07/eeuu/trump-comercio-global-aranceles-excepciones-trax" target="_blank">Trump reconfiguró el sistema de comercio global y apenas comienza</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/05/viajes/dior-luxury-spa-nueva-york-trax" target="_blank">Tratamientos faciales de alta gama y colchones revitalizantes: el primer spa permanente de Dior en EE.UU.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/03/viajes/autopista-escocia-instagram-exceso-turismo-trax" target="_blank">La autopista de Escocia famosa en Instagram se convirtió en una pesadilla por el exceso de turismo. Pero podría ser peor</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/02/viajes/por-que-mujer-estadounidense-se-mudo-bali-trax" target="_blank">'Las personas que conozco que tienen conciencia quieren irse de EE.UU.': por qué esta mujer estadounidense se mudó a Bali</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/02/viajes/video/vuelos-jets-privados-contaminacion-co2-trax" target="_blank">Vuelos cortos, gran contaminación: el problema de los jets privados</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/07/31/viajes/delta-minneapolis-aterrizaje-emergencia-turbulencia-trax" target="_blank">Hospitalizan a decenas de pasajeros en vuelo de Delta tras turbulencia que obligó a realizar aterrizaje de emergencia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/11/entretenimiento/video/maluma-bebe-concierto-ciudad-mexico-showbiz" target="_blank">“Un acto de irresponsabilidad”: Maluma desaprueba la presencia de un bebé en su concierto</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/entretenimiento/taquilla-verano-fantastic-four-superman-lilo-stitch-trax" target="_blank">Un verano de secuelas y remakes: "Fantastic Four", "Superman" y "Lilo & Stitch" entre los éxitos de taquilla</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/10/entretenimiento/cancion-verano-decepcion-2025-sza-bieber-trax" target="_blank">La canción del verano es una decepción</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/entretenimiento/gina-carano-lucasfilm-disney-acuerdo-mandalorian-ap" target="_blank">Lucasfilm y Disney llegan a un acuerdo con la actriz Gina Carano tras su despido de ‘The Mandalorian’</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/entretenimiento/tom-hanks-homenaje-jim-lovell-apolo-13-trax" target="_blank">Tom Hanks, quien interpretó a Jim Lovell en 'Apolo 13', rinde homenaje al fallecido astronauta</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/09/cultura/fk-jr-carolyn-bessette-fotos-boda-secreta-trax" target="_blank">Exclusiva CNN: fotos inéditas de la boda secreta de JFK Jr. y Carolyn Bessette-Kennedy</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/06/cultura/por-que-ee-uu-bombas-nucleares-hiroshima-nagasaki-trax" target="_blank">¿Por qué EE.UU. arrojó bombas nucleares sobre Hiroshima y Nagasaki?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/08/01/cultura/bolso-hermes-jane-birkin-shinsuke-sakimoto-trax" target="_blank">¿Qué se siente gastar US$ 10 millones en un bolso? Esto dice el hombre que compró el Hermès original de Jane Birkin</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/07/31/cultura/vogue-modelos-ia-anuncios-guess-trax" target="_blank">¿Se consolida el modelaje hecho con IA? Un anuncio en Vogue genera el debate más reciente</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/07/31/cultura/papa-evoluciono-tomate-silvestre-trax" target="_blank">La papa moderna evolucionó a partir de un tomate silvestre hace 9 millones de años, dicen los científicos</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    