
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CNN_ESP</title>
    </head>
    <body>
        <main>
            <h1>CNN_ESP</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/29/entretenimiento/academia-disculpa-no-nombrar-hamdan-ballal-no-other-land-ap" target="_blank">La Academia se disculpa por no nombrar a Hamdan Ballal, codirector de "No Other Land", en su respuesta por el ataque</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/27/entretenimiento/marvel-importantes-regresos-x-men-avengers-doomsday-trax" target="_blank">Marvel prepara importantes regresos de 'X-Men' y 'Avengers' para 'Doomsday'</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/07/entretenimiento/pamela-bach-actriz-exesposa-david-hasselhoff-muere-62-anios-ap" target="_blank">Pamela Bach, actriz y exesposa de David Hasselhoff, muere a los 62 años</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/02/entretenimiento/gene-hackman-betsy-arakawa-nuevo-mexico-muerte-amigos-trax" target="_blank">Gene Hackman y Betsy Arakawa vivieron una vida tranquila y privada en Nuevo México antes de su muerte, dicen amigos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/02/entretenimiento/in-memoriam-oscar-2025-david-lynch-silvia-pinal-maggie-smith-cine-murieron-orix" target="_blank">In Memoriam de los Oscar 2025: David Lynch, Silvia Pinal, Maggie Smith y más figuras del cine que murieron en el último año</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/26/entretenimiento/video/princess-mononoke-reestreno-imax-40-aniversario-showbiz-fast" target="_blank">“Princess Mononoke” se reestrena en IMAX por su 40 aniversario</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/25/entretenimiento/video/minuto-hollywood-bo-derek-tommy-boy-30-aniverario-showbiz-fast" target="_blank">El recuerdo de la actriz Bo Derek sobre “Tommy Boy” en el 30° aniversario de la película</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/20/entretenimiento/video/minuto-hollywood-estreno-ultima-temporada-handmaid-tales-showbiz-fast" target="_blank">La revolución en Gilead está más cerca en la última temporada de “The Handmaid's Tale” a punto de estrenarse</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/18/entretenimiento/video/minuto-hollywood-canciones-james-taylor-musical-showbiz-fast" target="_blank">Las canciones de James Taylor inspiran un nuevo musical</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/27/entretenimiento/familia-michelle-trachtenberg-rechaza-autopsia-trax" target="_blank">La familia de Michelle Trachtenberg rechaza que se realice autopsia a la actriz</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/27/entretenimiento/mueren-gene-hackman-betsy-arakawa-nuevo-mexico-trax" target="_blank">El actor Gene Hackman y su esposa Betsy Arakawa aparecen muertos en su casa de Nuevo México, según la Policía</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/16/entretenimiento/ganadores-bafta-2025-lista-completa-trax" target="_blank">Ganadores de los premios BAFTA 2025: lista completa por categorías</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/15/entretenimiento/superproduccion-animacion-china-records-taquilla-trax" target="_blank">La superproducción de animación china batió récords de taquilla en su país. Ahora llega a los cines de Occidente</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/13/orden-ver-marvel-todas-peliculas-series-mcu-cronologico-estrenos-orix" target="_blank">¿En qué orden hay que ver todas las películas y series de Marvel del MCU?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/01/23/eeuu/3-sorpresas-nominaciones-oscar-trax" target="_blank">3 sorpresas que dejaron las nominaciones al premio Oscar</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/01/21/entretenimiento/los-razzies-nominaciones-joker-folie-a-deux-trax" target="_blank">Los Razzies anuncian las nominaciones de este año, con "Joker: Folie à Deux" a la cabeza</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/01/16/entretenimiento/margaret-qualley-prosteticos-the-substance-trax" target="_blank">Margaret Qualley dice que su piel tardó un año en recuperarse de los prostéticos que usó en "The Substance"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/01/16/entretenimiento/mejores-peliculas-david-lynch-imdb-orix" target="_blank">Las 11 mejores películas de David Lynch, según IMDb</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/01/16/entretenimiento/muere-david-lynch-director-trax" target="_blank">Muere a los 78 años David Lynch, director de “Twin Peaks” y “Mulholland Drive”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/01/15/entretenimiento/director-emilia-perez-perdon-mexicanos-orix" target="_blank">El director de "Emilia Pérez" se disculpa con los mexicanos escandalizados por la película</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/01/15/entretenimiento/nominaciones-premios-bafta-lista-nominados-trax" target="_blank">Nominaciones de los premios BAFTA 2025: lista completa por categorías</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/17/entretenimiento/video/minuto-hollywood-lady-gaga-billboard-album-mayhem-showbiz-fast" target="_blank">Lady Gaga encabeza la lista Billboard 200 con su nuevo álbum “Mayhem”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/13/entretenimiento/video/minuto-hollywood-secuela-spinal-tap-cines-septiembre-showbiz-fast" target="_blank">La secuela del falso documental "This is Spinal Tap" llegará a los cines en septiembre</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/12/entretenimiento/video/trailer-lilo-y-stitch-reimaginacion-showbiz-ush-orix" target="_blank">El tráiler de “Lilo & Stitch” muestra cómo Disney reimagina en acción en vivo su clásico animado</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/12/entretenimiento/video/minuto-hollywood-billy-joel-aplaza-fechas-gira-salud-showbiz-fast" target="_blank">Billy Joel aplaza fechas de su gira por motivos de salud</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/11/entretenimiento/video/minuto-hollywood-james-cameron-avatar-fire-ash-showbiz-fast" target="_blank">“Avatar: Fire and Ash”: James Cameron prepara la película más larga de la saga</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/06/entretenimiento/video/minuto-hollywood-keanu-reeves-innovaciones-serie-documental-showbiz-fast" target="_blank">Keanu Reeves recorre el mundo en busca de innovaciones en nueva serie documental</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/05/entretenimiento/video/minuto-hollywood-millie-bobby-brown-bullying-medios-showbiz-fast" target="_blank">Millie Bobby Brown se defiende de los periodistas que critican su aspecto</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/03/04/entretenimiento/video/minuto-hollywood-discurso-adrien-brody-oscar-record-showbiz-fast" target="_blank">El discurso de Adrien Brody en los Oscar rompe un récord</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/27/entretenimiento/video/veteranos-brothers-after-war-minuto-hollywood-showbiz-fast" target="_blank">20 años después, los veteranos regresan en "Brothers after war"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/27/entretenimiento/video/michelle-trachtenberg-carrera-peliculas-series-television-cine-trax" target="_blank">Lo más destacado de la carrera de Michelle Trachtenberg en televisión y cine</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/24/entretenimiento/video/hollywood-minuto-retrasa-estreno-spiderman-4-showbiz-fast" target="_blank">Se retrasa el estreno de "Spider-Man 4"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/22/entretenimiento/video/amazon-bond-futuro-brocoli-trax" target="_blank">James Bond tiene nuevo dueño: Amazon tiene ahora el control creativo total</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/21/entretenimiento/video/hollywood-minute-daniel-craig-abandona-sgt-rock-showbiz-fast" target="_blank">Daniel Craig abandona la película de DC “Sgt. Rock”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/19/entretenimiento/video/minuto-hollywood-cynthia-erivo-jesus-christ-superstar-showbiz-fast" target="_blank">Paul Simon anunció en las redes sociales su "gira de celebración silinciosa"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/18/entretenimiento/video/minuto-hollywood-matt-damon-odiseo-nativos-americanos-documentales-showbiz-fast" target="_blank">Dos documentales sobre nativos americanos se estrenan en video bajo demanda</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/14/entretenimiento/video/minuto-hollywood-cine-television-san-valentin-showbiz-fast" target="_blank">Películas para ver el fin de semana de San Valentín</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/13/entretenimiento/video/eisenberg-entrevista-culkin-real-pain-showbiz" target="_blank">Jesse Eisenberg hace un viaje personal en la cinta "A real pain"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/13/entretenimiento/video/capitan-america-brave-new-world-entrevista-director-julius-onah-nuevo-diferente-sam-wilson-steve-rogers-showbiz-orix" target="_blank">Director de “Captain America: Brave New World” revela lo que podemos esperar del nuevo Capitán América</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/12/entretenimiento/video/minuto-hollywood-premios-oscar-serie-cape-fear-pelicula-the-friend-showbiz-fast" target="_blank">¿Tomará la edición 97° de los premios Oscar otra forma?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/entretenimiento/cine/2025/02/11/entretenimiento/video/minuto-hollywood-harry-potter-ben-stiller-muppets-superbowl-showbiz-fast" target="_blank">"Harry Potter" tendrá un regreso mágico a los cines</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    