
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN</title>
  </head>
  <body>
    <main>
        <h1>CNN NEWS</h1>
        <hr>
        
<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/26/cars/china-byd-profile-tesla-rival-intl-hnk/index.html" target="_blank">Pulling ahead of Tesla</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/26/cars/china-byd-profile-tesla-rival-intl-hnk/index.html" target="_blank">Chinese electric vehicles maker BYD was once laughed off by Elon Musk. Now it’s effectively outdoing Tesla in sales, innovation and price competitiveness.</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/25/cars/china-byd-annual-sales-pass-tesla-intl-hnk/index.html" target="_blank">Chinese EV titan’s annual sales hit $100 billion eclipsing rival Tesla</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/americas/canada-trump-tariffs-response-latam-intl/index.html" target="_blank">US-Canada relationship faces fundamental change amid trade threats, Canadian PM warns</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/cars/us-automakers-production-tariffs-analysis-intl-hnk/index.html" target="_blank">Analysis
Automakers aren’t rushing to move production to US factories to avoid tariffs</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/cars/auto-tariffs-car-prices-impact-hnk-intl/index.html" target="_blank">Car prices will surge by thousands of dollars because of Trump’s tariffs. It’ll happen before you expect it</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/style/chatgpt-studio-ghibli-ai-images-intl-hnk/index.html" target="_blank">Viral Studio Ghibli-style AI images showcase power – and copyright concerns – of ChatGPT update</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/science/ancient-parasitic-wasp-amber/index.html" target="_blank">Bizarre creature preserved in 99 million-year-old amber ‘beyond imagination:’ scientists</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/sport/miami-open-alexandra-eala-iga-swiatek-spt-intl/index.html" target="_blank">Teenager beats five-time grand slam champion to continue historic run</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/26/health/video/sanjay-gupta-brain-neurogenesis-wellness-digvid" target="_blank">Video
A 93-year-old brain can be sharper than it was at 50. Dr. Sanjay Gupta explains how
2:10</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/28/health/phone-distraction-study-wellness/index.html" target="_blank">Your phone isn’t the only thing to blame for your distraction, study says</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//world/africa/uganda-gorilla-conservation-gladys-kalema-zikusoka-cte/index.html" target="_blank">This conservationist went to Uganda’s ‘impenetrable forest’ 30 years ago. Here’s why she never left</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/style/buried-coin-collection-auction-scli-intl/index.html" target="_blank">$100 million coin collection, buried for more than 50 years, goes up for auction</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/22/world/hong-kong-rugby-sevens-kai-tak-stadium-intl-hnk/index.html" target="_blank">One of Asia’s most raucous sporting spectacles is moving to a shiny new high-tech home. Can its party spirit survive?</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/28/us/kansas-monster-under-bed-arrest-hnk/index.html" target="_blank">Child complains of ‘monster’ under the bed. Babysitter then comes face-to-face with man hiding there</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/uk/king-charles-cancer-treatment-latam-intl-gbr/index.html" target="_blank">King Charles cancels engagements after experiencing temporary side effects of cancer treatment</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/world/video/ukraine-maternity-ward-births-deaths-pkg-digvid" target="_blank">Video
Ukraine grapples with lowest birth rate in the world
3:52</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/climate/just-stop-oil-ends-disruption-intl/index.html" target="_blank">Just Stop Oil says it will stop throwing soup at paintings and end disruptive protest</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/style/look-of-the-week-naomi-watts-canine-co-star-red-carpet/index.html" target="_blank">Look of the Week
Naomi Watts is twinning with her canine co-star</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//travel/nyepi-silence-day-bali-intl-hnk/index.html" target="_blank">No WiFi, no electricity: Every year, one of the world’s most popular islands falls silent for 24 hours</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/us/michigan-couple-mexico-timeshare-payments/index.html" target="_blank">A Michigan couple traveled to Mexico for vacation. They ended up in prison over disputed timeshare payments</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/sport/alysa-liu-figure-skating-world-championships-spt-intl/index.html" target="_blank">Alysa Liu caps sensational return to figure skating by taking the lead at world championships</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/us/kermit-the-frog-commencement-speaker-maryland/index.html" target="_blank">‘World’s most famous amphibian’ will deliver commencement speech at University of Maryland</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/26/science/video/spacex-rocket-launch-blue-spiral-digvid" target="_blank">Video
Glowing blue spiral spotted in night skies over Europe
0:35</a></h2>
</div>

<div class="article">
    <h2><a href="https://edition.cnn.com//2025/03/27/entertainment/megan-fox-machine-gun-kelly-baby-girl/index.html" target="_blank">Megan Fox and Machine Gun Kelly welcome baby girl</a></h2>
</div>

    </main>
  </body>
</html>
