
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CNN_ESP</title>
    </head>
    <body>
        <main>
            <h1>CNN_ESP</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/29/ciencia/como-empezo-vida-tierra-experimento-cientifico-trax" target="_blank">¿Cómo empezó la vida en la Tierra? Científicos parecen haber encontrado la respuesta tras recrear un experimento</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/28/ciencia/eclipse-solar-parcial-29-de-marzo-cuando-a-que-hora-y-como-ver-orix" target="_blank">Eclipse solar parcial del 29 de marzo: cómo se vivió</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/28/ciencia/studio-ghibli-inteligencia-artificial-imagenes-virales-chatgpt-trax" target="_blank">Imágenes virales de IA al estilo de Studio Ghibli muestran el poder (y los problemas) de la última actualización de ChatGPT</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/26/ciencia/tecnofosiles-plasticos-legado-humanidad-trax" target="_blank">“Tecnofósiles”: cómo la ropa, los plásticos y los teléfonos se convertirán en el legado de la humanidad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/26/ciencia/tiburon-produce-sonido-evidencia-trax" target="_blank">Los llaman asesinos silenciosos. Ahora, grabaciones sin precedentes revelan los primeros sonidos de tiburón conocidos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/25/ciencia/que-es-signal-aplicacion-chat-privada-trax" target="_blank">¿Qué es Signal? La aplicación de chat que solo es privada si la usas correctamente</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/25/ciencia/elon-musk-robots-competencia-china-trax" target="_blank">Elon Musk cree que los robots son un negocio de US$ 10 billones. Tiene competencia de China</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/21/ciencia/iguanas-fiji-balsas-trax" target="_blank">¿Cómo llegaron las iguanas a Fiji? Lo más probable es que hayan flotado casi 8.000 kilómetros en balsas de vegetación</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/21/ciencia/supernovas-mayores-extinciones-masivas-tierra-trax" target="_blank">Las supernovas pueden haber desempeñado un papel en dos de las mayores extinciones masivas de la Tierra, sugiere un estudio</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/20/ciencia/recuerdos-bebe-estudio-memoria-trax" target="_blank">Este es el motivo por el cual no tienes recuerdos de cuando eras bebé, según un estudio</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/20/ciencia/detectan-oxigeno-galaxia-distante-encontrada-trax" target="_blank">Detectan oxígeno en la galaxia más distante jamás encontrada</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/29/ciencia/video/imagenes-eclipse-solar-parcial-29-marzo-orix" target="_blank">Mira las mejores imágenes del eclipse solar parcial en el hemisferio norte</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/27/ciencia/video/tiburon-ipanema-rio-mako-orix" target="_blank">Un raro tiburón en peligro de extinción se luce en Ipanema</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/27/ciencia/video/perro-inteligencia-artificial-empresa-sueca-trax" target="_blank">Una empresa sueca muestra su perro con inteligencia artificial</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/26/ciencia/video/busqueda-vida-marte-moleculas-organicas-nasa-cafe-tv" target="_blank">Avanza la búsqueda de vida en Marte, encuentran las moléculas orgánicas más grandes hasta la fecha</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/26/ciencia/video/aurora-nepturno-webb-nasa" target="_blank">El telescopio Webb capta por primera vez las auroras de Neptuno</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/20/ciencia/video/litros-agua-gases-inteligencias-artificiales-orix" target="_blank">Millones de litros de agua y emisiones de carbono: el costo ambiental de las inteligencias artificiales</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/18/ciencia/suni-williams-butch-wilmore-astronautas-nasa-regresan-tierra-trax" target="_blank">Suni Williams y Butch Wilmore, los astronautas “varados” en el espacio, regresan a la Tierra</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/17/ciencia/modulo-blue-ghost-finaliza-mision-luna-trax" target="_blank">El módulo de alunizaje Blue Ghost de Firefly finaliza una misión histórica y cumple el 100% de sus objetivos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/16/ciencia/spacex-wilmore-williams-nasa-regresen-trax" target="_blank">Crew-10 de SpaceX llega a la ISS, allanando el camino para que Wilmore y Williams de la NASA regresen a casa</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/15/ciencia/astronomos-descubren-origen-latidos-via-lactea-trax" target="_blank">Astrónomos descubren origen de los misteriosos 'latidos' de la Vía Láctea: "no se parecen a nada que conozcamos"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/14/ciencia/spacex-crew-10-butch-wilmore-suni-williams-nasa-regreso-trax" target="_blank">SpaceX lanza la misión Crew-10 que allanará el camino para el regreso de Butch Wilmore y Suni Williams de la NASA</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/14/ciencia/marzo-2025-luna-de-sangre-trax" target="_blank">FOTOS | La "luna de sangre" de marzo ilumina el cielo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/13/ciencia/spacex-mision-tripulacion-astronautas-trax" target="_blank">SpaceX renuncia a intento de lanzar misión de intercambio de tripulación que permitirá a dos astronautas volver a la Tierra</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/10/ciencia/elon-musk-interrupciones-x-ciberataque-trax" target="_blank">Elon Musk afirma que la oleada de interrupciones que afectan a X se deben a "un ciberataque masivo"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/08/ciencia/narvales-colmillos-jugar-estudio-trax" target="_blank">Los narvales podrían utilizar sus colmillos para jugar, según un nuevo estudio</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/07/ciencia/modulo-aterrizaje-athena-muerto-luna-trax" target="_blank">Declaran que el módulo de aterrizaje Athena está "muerto" y yace de lado en la Luna</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/06/ciencia/nave-starship-spacex-explota-segunda-vez-trax" target="_blank">La nave espacial Starship de SpaceX explota en pleno vuelo por segunda vez</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/06/ciencia/modulo-athena-intuitive-machines-superficie-lunar-trax" target="_blank">El módulo de aterrizaje Athena de Intuitive Machines se encuentra en la superficie lunar, pero su estado no es claro</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/06/ciencia/alibaba-rival-deepseek-acciones-suben-trax" target="_blank">Alibaba lanza un rival para DeepSeek y sus acciones suben</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/05/ciencia/cientificos-crearon-raton-lanudo-caracteristicas-mamut-trax" target="_blank">Científicos crearon un “ratón lanudo” con características de mamut. ¿Es un paso hacia la recuperación del gigante extinto?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/04/ciencia/iceberg-mas-grande-mundo-encalla-georgia-del-sur-trax" target="_blank">El iceberg más grande del mundo encalla frente a Georgia del Sur</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/04/ciencia/fotografia-nasa-ruptura-barrera-sonido-trax" target="_blank">Increíble fotografía de la NASA capta la ruptura de la barrera del sonido</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/03/ciencia/spacex-lanzamiento-cohete-starship-spacex-trax" target="_blank">SpaceX canceló el lanzamiento de su octavo vuelo de prueba de la nave Starship</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/02/ciencia/blue-ghost-robot-luna-trax" target="_blank">El módulo Blue Ghost aluniza con éxito</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/01/ciencia/faa-autoriza-spacex-starship-vuelo-8-trax" target="_blank">La FAA autoriza a SpaceX a lanzar Starship tras una falla explosiva que provocó una lluvia de escombros sobre islas pobladas</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/03/01/ciencia/caida-microsoft-outlook-correo-electronico-trax" target="_blank">Una caída de Microsoft Outlook deja a miles de usuarios sin acceso al correo electrónico y aplicaciones</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/02/28/ciencia/nasa-misiones-eclipses-artificiales-estudiar-sol-orix" target="_blank">La NASA lanzará dos misiones para crear eclipses artificiales y estudiar al Sol</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/02/28/ciencia/como-ver-desfile-7-planetas-febrero-astronomos-trax" target="_blank">Cómo ver el desfile de 7 planetas de febrero, según astrónomos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/02/28/ciencia/skype-cierre-microsoft-orix" target="_blank">Skype cerrará después de dos décadas</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/02/27/ciencia/katy-perry-6-mujeres-new-shepard-blue-origin-trax" target="_blank">Katy Perry está entre las 6 mujeres que se dirigirán al espacio a bordo del cohete New Shepard de Blue Origin</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/02/26/ciencia/antiguo-glaciar-evolucion-tierra-vida-trax" target="_blank">El hallazgo de un antiguo glaciar revela pistas sobre cómo evolucionó la vida compleja en la Tierra, según los científicos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/02/26/ciencia/alexa-amazon-actualizacion-era-chatbots-trax" target="_blank">Amazon presenta Alexa+ con funciones de IA: esto es lo que podrá hacer y dónde estará disponible</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/02/25/ciencia/astroforge-primera-mision-espacio-profundo-trax" target="_blank">Esta empresa podría hacer historia con su primera misión al espacio profundo. El CEO está "aterrorizado"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com/ciencia/2025/02/25/ciencia/por-que-marte-es-rojo-trax" target="_blank">Nueva investigación desmiente la teoría sobre por qué Marte es rojo, dicen los científicos</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    