
<html>
<head>
    <title>INFOBAE</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>INFOBAE</h1>
    <hr>

    <div id="articles">
        
<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/uno-por-uno-quienes-son-los-candidatos-confirmados-para-las-elecciones-legislativas-en-ciudad-de-buenos-aires/">Uno por uno, quiénes son los candidatos confirmados para las elecciones legislativas en la Ciudad de Buenos Aires</a></h2>
    <img src="https://www.infobae.com/resizer/v2/5ZBZ2RMVGFDITNV5ESZLK776SU.jpg?auth=98fb3a6ae8d03e542e66b11c4edf6a66f273be1470ab0a65853b999a9a128a57&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/fuerte-respaldo-de-javier-milei-a-su-hermana-karina-en-medio-del-cierre-de-listas-en-caba-y-de-la-puja-con-el-pro-van-a-seguir-subestimandola/">Fuerte respaldo de Javier Milei a su hermana Karina, en medio del cierre de listas en CABA y de la puja con el PRO: “¿Van a seguir subestimándola?”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/A4LL2JQKV3KS6YXBBM5BPCIL6Q.jpg?auth=5c077e8b7f8ff02f6b570b1be4e313aadbed3671c27196f6e82274c3aacf59c1&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/policiales/2025/03/29/el-ladron-detenido-por-atropellar-y-matar-a-una-bebe-salio-de-la-carcel-hace-cinco-meses-identificaron-a-uno-de-sus-complices/">El ladrón detenido por atropellar y matar a una bebé salió de la cárcel hace cinco meses: sus antecedentes</a></h2>
    <img src="https://www.infobae.com/resizer/v2/5L3FEWRCORFQJGUH2AMBYABP4Y.jpg?auth=23605a0bb61e7a2bfc494168e17cfa70c34f45267539ecf7e261857f07770dbd&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/policiales/2025/03/29/el-padre-de-la-bebe-atropellada-y-asesinada-por-ladrones-pidio-justicia-ella-queria-vivir/">El padre de la bebé atropellada y asesinada por ladrones pidió Justicia: “Ella quería vivir”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/TCUNP7JUHJE3RK3GAV7HJRXCWI.png?auth=1fecd1bcb69b0d9280c951d8d6151e13717cf0ca0e650bac1175d0df45ce0e55&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/2025/03/29/la-hija-de-desaparecidos-que-busco-su-identidad-durante-25-anos-y-pide-que-se-cuente-la-historia-completa-vivi-un-infierno/">La hija de desaparecidos que buscó su identidad 25 años y pide que se cuente la historia completa</a></h2>
    <img src="https://www.infobae.com/resizer/v2/3G5EF25WKBBN5KSEGOLV7V3ZPU.jpg?auth=19bc048a45bb60a37ed78e3a90d012b9420fd1fbb418e2d6db3dee57ad42dc3f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/se-cumplen-ocho-anos-de-la-asuncion-de-claudio-chiqui-tapia-como-presidente-de-la-afa/">Se cumplen ocho años de la asunción de Claudio Chiqui Tapia como presidente de la AFA</a></h2>
    <img src="https://www.infobae.com/resizer/v2/GBDY4AZ4TJB3TMUIRHTLAHIQGE?auth=9a86d5c11563c3f7aaa5faffb3239a62db51e9014bd982e9357e2725aef78950&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/ronaldo-hablo-tras-la-paliza-de-argentina-el-pedido-de-un-dt-extranjero-y-que-les-falta-a-los-jugadores-brasilenos-para-ganar/">Ronaldo habló tras la paliza de Argentina: el pedido de un DT extranjero y qué les falta a los jugadores brasileños para ganar</a></h2>
    <img src="https://www.infobae.com/resizer/v2/HAZBTTD7W5BOFCBKSCL5V2LQ24.jpg?auth=c536ce4ca454f5e5efef9d133a7bb63d659cf7197ebebfb3f6ee69e9d707877e&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/el-cierre-de-listas-para-las-elecciones-en-caba-en-vivo-el-minuto-a-minuto-de-la-presentacion-de-todos-los-candidatos/">Con la mayoría de los candidatos confirmados, comenzó la campaña electoral para la pelea por las bancas porteñas</a></h2>
    <img src="https://www.infobae.com/resizer/v2/NSRICRFBCFHJ3CFGYU5HBQOMJE.jpg?auth=b1f97327b67a46dcc3a0b5bfaf09ae5a12cbbf9c8a744f2868daa30a04b8d163&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/con-criticas-al-pro-oscar-zago-explico-por-que-se-fue-de-la-alianza-para-las-elecciones-legislativas-de-la-caba-nos-faltaron-el-respeto/">Zago sorprendió y presentó a Caruso Lombardi como candidato del MID a las elecciones legislativas en la CABA</a></h2>
    <img src="https://www.infobae.com/resizer/v2/R32QLDJPJ5CCBMPFL5VDZUGJVY.jpg?auth=712ad0db50075ebd97d4f43f82bc7d9f4141042a83e780797ba65e9057b8e8ea&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/las-elecciones-del-18-de-mayo-en-caba-cuantos-legisladores-se-renuevan-y-que-se-juega-cada-espacio/">Qué se vota, cuándo son los comicios, las bancas que se renuevan y qué se juega cada espacio</a></h2>
    <img src="https://www.infobae.com/resizer/v2/3RXCXSZHHNEMPGR3INYRITXCNU.jpeg?auth=1b77d026b0dc66ae27488f0b26f45ce9d23986cafe688cd5eb71fc439897e732&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/policiales/2025/03/29/quien-era-la-joven-argentina-encontrada-muerta-en-su-casa-en-estados-unidos/">Tucumana y de 20 años: quién era la joven argentina encontrada muerta en su casa en Estados Unidos</a></h2>
    <img src="https://www.infobae.com/resizer/v2/KHC7B42L4RCPDMJFL4T7HPW4WM.jpg?auth=4df43a6253ae5d9158b4588d068693cbe9174a23444de90abf5cd99c2bba0221&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/reportajes/2025/03/29/400-mil-dolares-de-deuda-quince-prestamistas-y-amenazas-a-su-familia-el-infierno-de-un-joven-ludopata-que-no-queria-vivir-mas/">400 mil dólares de deuda, quince prestamistas y amenazas a su familia: el infierno de un joven ludópata</a></h2>
    <img src="https://www.infobae.com/resizer/v2/6EOLMASQGZAUBEJVHDNTCAJFRU.jpg?auth=0e01ecd1187f252c0e3f4d1571f2f0de46b09b45515d1e3dab8127a14062e145&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/salud/2025/03/29/como-actua-la-manosfera-en-la-serie-adolescencia-su-influencia-y-el-peligro-de-las-teorias-conspirativas/">Cómo actúa la "manósfera" en la serie "Adolescencia": su influencia y el peligro de las teorías conspirativas</a></h2>
    <img src="https://www.infobae.com/resizer/v2/W6R36N37KFDRVM5544CV6FUTMA.png?auth=288484f660b994ad8a9eedf96faa1108ffdafa700b2c9e5dff5c737457e4a448&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/historias/2025/03/29/el-torturador-y-violador-serial-que-actuo-como-verdugo-amparado-por-stalin-y-fue-ejecutado-de-un-tiro-en-la-frente-acusado-de-traicion/">El torturador y violador serial que actuó como verdugo amparado por Stalin y fue ejecutado de un tiro en la frente acusado de traición</a></h2>
    <img src="https://www.infobae.com/resizer/v2/VPASTOGSMNBBPNPDYK7ZNSPSLE.jpg?auth=042c1bb5bf16cc7f1d38c5da6b20e3944a58f38b9ed9b907e6dffa682f3a2433&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/29/cuanto-cobraran-en-abril-quienes-hacen-trabajo-domestico-valores-por-hora-y-por-mes-segun-tipo-de-tareas/">Cuánto cobrarán en abril quienes hacen trabajo doméstico: valores por hora y por mes, según tipo de tareas</a></h2>
    <img src="https://www.infobae.com/resizer/v2/W5RUPNKKMJA6LMNT26XZTXUIUI.jpeg?auth=91c8b492292b7288b34ab242909c98b1422a7b19e36ba01ba9c4feebd688ea04&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/tecno/2025/03/29/la-fiebre-de-la-ia-se-intensifica-lo-que-significan-los-ultimos-avances-de-openai-google-y-anthropic/">La fiebre de la IA se intensifica: lo que significan los últimos avances de OpenAI, Google y Anthropic</a></h2>
    <img src="https://www.infobae.com/resizer/v2/QJ47BNVC3BGVFNVB2TNCPHHS3M.jpg?auth=bd51c7cbd138dbd28eb6186aaebeeb378371acdbecc2ad84ead106147b79138f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/salud/2025/03/29/como-transformar-el-pesimismo-en-optimismo-segun-la-neurociencia-no-esta-biologicamente-determinado/">Cómo transformar el pesimismo en optimismo, según la neurociencia: "No está determinado"</a></h2>
    <img src="https://www.infobae.com/resizer/v2/WVVUAKNGYJGEJF34PPWB2EVOZY.png?auth=60cdfd08bc44adf09f100186c146e5ff0fd5b560a299765604743f1c6363eb37&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/policiales/2025/03/29/buscan-a-un-joven-de-28-anos-desaparecido-en-villa-la-angostura-luego-de-dejar-un-misterioso-mensaje-en-su-casa/">Buscan a un joven de 28 años desaparecido en Villa La Angostura luego de dejar un misterioso mensaje en su casa</a></h2>
    <img src="https://www.infobae.com/resizer/v2/GUIZW2KJNNDTBCAA4TRUDM6JSU.jpg?auth=bac3476343d393884fecc9341e114e7a882b304e049aa718c1cb6f718b52edfb&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/cami-mayan-debuto-como-cantante-el-look-inspirado-en-olivia-rodrigo-y-la-emocion-del-publico/">Cami Mayan debutó como cantante: el look inspirado en Olivia Rodrigo y la emoción del público</a></h2>
    <img src="https://www.infobae.com/resizer/v2/VNWJTGPPYJCOHIM4OEWEFUTPLQ.png?auth=8e447ca5d0f00252a284f8e471fdf365c7f858c7e011a83668c4ad0e219f56e8&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/29/reservas-riesgo-pais-y-cepo-el-gobierno-se-prepara-para-una-nueva-etapa-del-plan-economico-luego-del-acuerdo-con-el-fmi/">Reservas, riesgo país y cepo: el Gobierno se prepara para una nueva etapa del plan económico, luego del acuerdo con el FMI</a></h2>
    <img src="https://www.infobae.com/resizer/v2/25HDD3P4EFB75PZIUY4Z6A34OQ.jpg?auth=fd0f461e122fab3c1bd2624ffe59ffadb16b690aa7d2b9fdec26f1c397304168&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/el-detras-de-escena-del-encuentro-messi-djokovic-la-divertida-anecdota-con-uno-de-los-hijos-del-argentino-y-el-gesto-que-lo-conmovio/">El detrás de escena del encuentro Messi-Djokovic: la divertida anécdota con uno de los hijos del argentino y un gran gesto</a></h2>
    <img src="https://www.infobae.com/resizer/v2/JFXLALGXYZGYXI2YL55J72PGRA.jpg?auth=19c633b72b7d8c4ba8e6c9394a1f9fb9e3739523bc6ce85f0f67894bea1b2102&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/salud/2025/03/29/el-autismo-es-una-pandemia-advirtio-un-reconocido-psiquiatra-especializado-en-neurodesarrollo/">"El autismo es una pandemia", advirtió un psiquiatra especializado en neurodesarrollo</a></h2>
    <img src="https://www.infobae.com/resizer/v2/JEAJDZTQMNAF5ICXPPXCA2OPXQ.jpg?auth=a7d61f6ebb174deae37a6a6b4bc6f04728208f21d34cc2959a0a8b647caef64a&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/el-show-del-mellizo-guillermo-en-su-debut-como-dt-de-velez-exabrupto-con-un-juez-de-linea-y-una-ironica-frase-que-desperto-risas/">El show del Mellizo Guillermo, que debutó como DT de Vélez con una derrota: la frase que despertó risas</a></h2>
    <img src="https://www.infobae.com/resizer/v2/YRYOOVKZLJCKFAAHKNI4IPNVVA.JPG?auth=87683c03d29114d9573717f4a9074b842d26eb72aa61f1cb3b63d61bb6139ecb&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/policiales/2025/03/29/el-horror-de-una-pareja-argentina-secuestrada-en-un-frigorifico-de-polonia-vimos-companeros-que-se-apunalaron-entre-ellos/">El horror de una pareja argentina secuestrada en un frigorífico de Polonia: “Vimos compañeros que se apuñalaron entre ellos”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/5WAOBSA7RFBZXOHOBAYDCMJVBE.jpg?auth=495bec801404ab0a465510842a7be1b1aca55ee6f844bb689bf80cd6af38a469&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/wanda-nara-hablo-de-las-acusaciones-de-infidelidad-no-me-hubiera-acostado-con-nadie-si-perdia-un-centavo/">Wanda Nara y las acusaciones de infidelidad: "No me hubiera acostado con nadie si perdía un centavo"</a></h2>
    <img src="https://www.infobae.com/resizer/v2/RZPZWHWKMZGQTIZ5EY5JGYHDZA.png?auth=eb6d09f20f9c907472467a6a886108ac339f3a07d518ae988617e2f65a7b4fdc&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/28/como-sigue-la-salud-de-maxi-trusso-luego-del-accidente-que-sufrio-durante-un-concierto/">Cómo sigue la salud de Maxi Trusso luego del accidente que sufrió durante un concierto</a></h2>
    <img src="https://www.infobae.com/resizer/v2/EZETNVC6RJDBDKU7AWSA6HEDAU.jpg?auth=6a4a817b68e5ec1fcf1da926b9a496a6be08c38e0fac424842137d02c9a140d0&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/opinion/2025/03/29/el-trato-con-el-fmi-errores-y-costos-en-el-tablero-politico/">El trato con el FMI: errores y costos en el tablero político</a></h2>
    <img src="https://www.infobae.com/resizer/v2/M3IUOZG2RZBZHKHNXPG4OCRWHI.jpg?auth=a66a32e866c1663dfe75c3da8723c1f21fd263655619af2859db3895ca3b8288&smart=true&width=350&height=350&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/las-promesas-del-futuro-los-siete-jugadores-de-la-seleccion-argentina-sub-17-que-hay-que-seguir-en-el-sudamericano/">Las promesas del futuro: los siete jugadores de la selección argentina Sub 17 que hay que seguir en el Sudamericano</a></h2>
    <img src="https://www.infobae.com/resizer/v2/A7AY2VIMENA7FNMNRJOPDQCFXQ.jpg?auth=cc3da10fa970c294af0a56c6f136d07d3c1b73457a5f898ef37530f50a2b82b7&smart=true&width=350&height=350&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/28/dolares-en-el-colchon-los-argentinos-tienen-fuera-del-sistema-el-equivalente-a-8-veces-las-reservas-del-bcra/">Dólares en el colchón: los argentinos tienen fuera del sistema el equivalente a 8 veces las reservas del BCRA</a></h2>
    <img src="https://www.infobae.com/resizer/v2/NPCYHRIVYNELXG6C4ZRTDFIIVU.jpg?auth=206e8f6e2c5d0cf831a70a487b1bd50c2432e12692a4378cb85e55a3bd038dde&smart=true&width=350&height=350&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/28/intendentes-bonaerenses-apoyaron-la-decision-de-axel-kicillof-de-desdoblar-las-elecciones/">Intendentes bonaerenses apoyaron la decisión de Axel Kicillof de desdoblar las elecciones</a></h2>
    <img src="https://www.infobae.com/resizer/v2/IOIYIF5J7VEUFHMWIC7SIADFBI.jpg?auth=a78973f41da3513dfa76cf4dbb7a4691edd63848712c3dba7f7ae408716b3a00&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/policiales/2025/03/29/video-asi-fue-la-persecucion-a-los-ladrones-que-atropellaron-y-mataron-a-una-bebe-de-11-meses/">Video: así fue la persecución a los ladrones que atropellaron y mataron a una bebé de 11 meses</a></h2>
    <img src="https://www.infobae.com/resizer/v2/56IXDRT7F5CFFEW2EBSG5IN2GA.jpeg?auth=52aaf6bc1f8fad3c8be61f3b45d7510933b03e3712cfa9176e4ca92ae8cea010&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/policiales/2025/03/29/cayo-una-banda-acusada-de-cometer-un-raid-delictivo-en-pergamino-habian-asaltado-a-13-personas-en-24-horas/">Cayó una banda acusada de cometer un raid delictivo en Pergamino: habían asaltado a 13 personas en 24 horas</a></h2>
    <img src="No image found" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/america/ciencia-america/2025/03/29/un-experto-de-eeuu-advirtio-sobre-el-avance-del-movimiento-antivacunas-debemos-evitar-que-la-desconfianza-crezca-mas/">Un experto de EEUU advirtió sobre el avance del movimiento antivacunas: “Debemos evitar que la desconfianza crezca más”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/RG2G4GYM3ZB25PH3WDKWGG2CWE.jpg?auth=f81a5f5787abd7dcdde8757129572bd0242f0ec67a111ed31a6c51e2d39ca1cc&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/la-historia-de-ricardo-caruso-lombardi-de-tecnico-saca-puntos-a-candidato-a-legislador-porteno/">La historia de Ricardo Caruso Lombardi: de técnico “saca puntos” a candidato a legislador porteño</a></h2>
    <img src="https://www.infobae.com/resizer/v2/PZWGY6WC3VDW5MDFIL4WMHNYWM.jpg?auth=67353ed105ab08186d006e6131c953a7c28f52c4746c3a46838894d75714b65e&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/historias/2025/03/29/la-tragica-noche-en-que-juan-carlos-de-borbon-mato-a-su-hermano-menor-y-su-padre-le-exigio-jurame-que-no-lo-hiciste-a-proposito/">La trágica noche en que Juan Carlos de Borbón mató a su hermano menor y su padre le exigió: "¡Jurame que no lo hiciste a propósito!"</a></h2>
    <img src="https://www.infobae.com/resizer/v2/QUK2BUJNYNC6RNLRPGZJYOWOFM.jpg?auth=7ee801b16c4687e2cb40a744dc65b1e5f8423f42bf10951a0ed5aab13a781c7b&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/definidas-las-listas-en-caba-cual-es-la-estrategia-del-gobierno-para-las-elecciones-en-otros-distritos-clave/">Definidas las listas en CABA, cuál es la estrategia del Gobierno para las elecciones en otros distritos clave</a></h2>
    <img src="https://www.infobae.com/resizer/v2/3XN55YYYAJGH3EFS23YY34JRZY.jpg?auth=a4e0af6ebd2b1a3e5077f0a48b1a30a5a4d005039b0a75dd3c3b24c039f6619a&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/policiales/2025/03/29/muerte-de-maradona-la-fiscalia-mostro-pruebas-contundentes-pero-luque-y-cosachov-se-muestran-tranquilos/">Muerte de Maradona: la fiscalía mostró pruebas “contundentes”, pero Luque y Cosachov se muestran tranquilos</a></h2>
    <img src="https://www.infobae.com/resizer/v2/CQSUVNQBUPN4LS3SOBVY7MXUUE.jpg?auth=5f4d90ee36a50d4d0806b15ce446c0f6cc731a03d4d8afda3ac56c815b2eea35&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/la-decision-que-tomo-fernando-gago-tras-la-ausencia-del-chileno-palacios-en-un-entrenamiento-de-cara-al-partido-con-newells/">Fernando Gago excluyó al chileno Palacios de la lista de convocados luego de ausentarse al entrenamiento del lunes pasado</a></h2>
    <img src="https://www.infobae.com/resizer/v2/WTBG4AA2D5FCLOP7WSB3HTWGBU.jpg?auth=67b30e56ac7c877cf38d4421e6c2afbbcb306ed16ee5b5f4d2fae33cc0f0c5ff&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/historias/2025/03/29/la-foto-acertijo-quien-es-este-nino-norteamericano-que-se-convirtio-en-una-estrella-de-rock-internacional/">La foto acertijo: ¿Quién es este niño norteamericano que se convirtió en una estrella de rock?</a></h2>
    <img src="https://www.infobae.com/resizer/v2/OIXQ2WRIUNCQPOCSNK4XPRVT6I.jpg?auth=c65c95cd8898d4674bee55f8ea692640e64409279ecfed9b8dba46cb562322be&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/sebastian-ortega-hablo-de-su-especial-romance-con-valentina-zenere-me-acerco-muchisimo-mas-a-mis-hijos/">Sebastián Ortega habló de su especial romance con Valentina Zenere: "Me acercó más a mis hijos"</a></h2>
    <img src="https://www.infobae.com/resizer/v2/YHXMAWSGOJAVBCRNMPUWRPAZWA.jpg?auth=8cb6b7b70b24cdc55460b0420a0fbb639cf0a6f9cadae771a3082bebde7fb134&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/los-pumas-7s-vencieron-a-irlanda-y-clasificaron-a-las-semifinales-del-seven-de-hong-kong-tras-21-anos/">Los Pumas 7s rompieron el maleficio: vencieron a Irlanda y clasificaron a semis en Hong Kong</a></h2>
    <img src="https://www.infobae.com/resizer/v2/QI5TOTH7VZDMJJBOZSCCNJ7WJI.JPG?auth=23fb4672240f3efb47e1995b15f61ef0765ebf48ea668904aba7590bb6341caf&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/tendencias/2025/03/29/sastreria-impecable-y-vestidos-de-ensueno-anna-rosatti-celebro-25-anos-con-la-moda/">Sastrería impecable y vestidos de ensueño: Anna Rosatti celebró 25 años con la moda</a></h2>
    <img src="https://www.infobae.com/resizer/v2/Y3GQYQO52FCVHLEAJQN7DBYM3U.jpg?auth=2dd30012203ddc4b910834d5090382bc6788872b609603c8435227616aa8df32&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/29/la-informalidad-laboral-alcanzo-un-record-ya-hay-mas-de-8-millones-de-trabajadores-en-negro/">La informalidad laboral alcanzó un récord: ya hay más de 8 millones de trabajadores “en negro”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/A6K37I6AQZC4TANIHYKEVZU6RA.jpg?auth=f34fd4cc3173f8a29874a0d3c80a54a4b6dd71950d6ac66322ed09b530b9f915&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/2025/03/29/la-dictadura-las-desaparecio-e-hizo-figurar-abandono-del-trabajo-en-sus-legajos-ahora-les-dan-la-matricula-30000-como-homenaje/">La dictadura las desapareció e hizo figurar “abandono del trabajo” en sus legajos: ahora les dan la matrícula 30.000 como homenaje</a></h2>
    <img src="https://www.infobae.com/resizer/v2/E7GSDJDQ5JHZVPEITR37FT4QJQ.jpg?auth=dc88923191f1351016d7a7d6426030894fb292fa81bb45b4a7b22c72c2f9b39f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/el-gobierno-busca-dividir-al-pro-y-polarizar-con-el-kirchnerismo-para-crecer-en-el-interior-pensando-en-2027/">El Gobierno busca dividir al PRO y polarizar con el kirchnerismo para crecer en el interior pensando en 2027</a></h2>
    <img src="https://www.infobae.com/resizer/v2/PGIA7O4GKREMRNSJUZMKPAV7RY.jpg?auth=c72ff27e7434c588d13aa5da9273bcb9e584bf79003b1d541af9413c1d327a93&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/opinion/2025/03/29/mi-encuentro-con-isabel-peron-en-la-casa-de-gobierno-pocos-dias-antes-del-golpe/">Mi encuentro con Isabel Perón en la Casa de Gobierno pocos días antes del golpe</a></h2>
    <img src="https://www.infobae.com/resizer/v2/FZ7GT7XKRFEBZCBGESAZWWQICM.jpeg?auth=ddbcd2f0864bb73f64cf20a68ed599ce1826e48e282495bfb8d72fc04122327b&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/29/furor-por-la-ropa-importada-cuanto-crecio-en-un-ano-y-que-pasara-tras-la-fuerte-baja-de-aranceles/">Furor por la ropa importada: cuánto creció en un año y qué pasará tras la fuerte baja de aranceles</a></h2>
    <img src="https://www.infobae.com/resizer/v2/R6S4IXMZ5RELPIOPVNPQ2O2QKQ.png?auth=87a71b7e1f4456fd314a6ee2be5387e30847166d4534f6b44731a6c1bbcea6ac&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/29/derrota-del-carry-trade-el-dolar-mep-fue-la-inversion-minorista-ganadora-en-los-primeros-3-meses-del-ano/">Derrota del "carry trade": el dólar MEP fue la inversión minorista ganadora en los primeros 3 meses del año</a></h2>
    <img src="https://www.infobae.com/resizer/v2/2PYIXUTXWJAP7HEIYF6BRVY5X4.jpg?auth=30e17f6371e891bba722a9482d46f13d25d16e57c426286cbf50e48e90619f94&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/tension-en-cordoba-sin-paso-ni-alianzas-claras-con-lla-crecen-las-disputas-internas-en-el-pro-y-la-ucr/">Tensión en Córdoba: sin PASO ni alianzas claras con LLA, crecen las disputas internas en el PRO y la UCR</a></h2>
    <img src="https://www.infobae.com/resizer/v2/SQAJGJJU2FAWHOLHXN372YD6P4.jpg?auth=5009fd00527056719c673d60363e17c5818786ea28bff242853ff434784c360f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/america/america-latina/2025/03/29/crecen-las-denuncias-por-desapariciones-forzadas-en-nicaragua-los-11-opositores-de-los-que-no-se-sabe-nada-hace-mas-de-cien-dias/">Crecen las denuncias por desapariciones forzadas en Nicaragua: los 11 opositores de los que no se sabe nada hace más de cien días</a></h2>
    <img src="https://www.infobae.com/resizer/v2/BDRYIBQ6UNHVDMM6Z76IDTCS2Y.jpg?auth=386925fdec603d0634c97ffb23e8baeb2398629b63a1e115c7685b62e92a9dbd&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/viejo-rival-de-colapinto-y-un-ascenso-forzado-a-red-bull-quien-es-yuki-tsunoda-el-nuevo-companero-de-max-verstappen-en-la-f1/">Viejo rival de Colapinto y un ascenso forzado a Red Bull: quién es Yuki Tsunoda, el nuevo compañero de Max Verstappen en la F1</a></h2>
    <img src="https://www.infobae.com/resizer/v2/L4K5GPJHZVGFFHR7NDG5DTAOBA.jpg?auth=16b7b536ea92bf902ff232100cedf7f2bc84ab530b77de7e4d8b81da458a5d84&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/opinion/2025/03/29/somos-las-mujeres-el-animal-mas-discutido-del-universo-la-reflexion-de-virginia-woolf-y-el-recuerdo-de-su-ensayo-feminista/">"¿Somos las mujeres el animal más discutido del universo?": la reflexión de Virginia Woolf y el recuerdo de su ensayo feminista</a></h2>
    <img src="https://www.infobae.com/resizer/v2/WXSKFP473JEYVE3QFIPU3OEITQ.jpg?auth=fea78c20a3d85379d2283015fe22ae4c8f4b1c217f7080e41669465378b72b17&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/2025/03/29/que-fue-de-la-vida-de-psy-el-cantante-de-gangnam-style/">Qué fue de la vida de Psy, el cantante de Gangnam Style</a></h2>
    <img src="https://www.infobae.com/resizer/v2/AN5XUAXIGNF3VC64YPUYEQXLRE.jpg?auth=805fdfe164543b04c4981e05a4905f5644ec187cdc3d510c705ed92b376fb4ec&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/29/un-ambiente-mas-en-caba-claves-para-dar-el-salto-sin-desajustar-el-presupuesto/">Un ambiente más en CABA: claves para dar el salto sin desajustar el presupuesto</a></h2>
    <img src="https://www.infobae.com/resizer/v2/TMNNQWEEV5FH7BJVI6UGEFE2NI.jpg?auth=dc76bb00ce6cb5253e56b335e1cad53ad1f3911fdb916e853fe4425223503da2&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/judiciales/2025/03/29/tragedia-de-cromanon-aumentan-la-indemnizacion-que-debera-pagar-la-ciudad-de-buenos-aires-a-un-sobreviviente/">Cromañón: aumentan la indemnización que deberá pagar la ciudad de Buenos Aires a un sobreviviente</a></h2>
    <img src="https://www.infobae.com/resizer/v2/DGHXBQPWNJCU7FDLCDCLZ3E5RM.jpg?auth=50fb3d0dfbff122b378e763e7cc73060a2ae8a0448d163c51510ed5e02047769&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/america/ciencia-america/2025/03/29/los-detalles-del-eclipse-solar-parcial-de-hoy-y-el-fenomeno-de-los-cuernos-del-diablo/">Terminó el eclipse solar parcial: cómo fue el fenómeno de “los cuernos del diablo”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/JSIVFIU2ENESHEXL74O5QPQYAI.jpg?auth=90b57be5a32b44cf134f62ec4f5df158e30c76b17f3a17abb20e000379df3b41&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/river-plate-buscara-treparse-a-la-cima-de-su-zona-ante-rosario-central-en-vivo-hora-tv-y-formaciones/">River buscará treparse a la cima de su zona ante Rosario Central, en vivo: hora, TV y formaciones</a></h2>
    <img src="https://www.infobae.com/resizer/v2/ZZNQX2GKWNHLVPQOA7ARIFBSVA.jpg?auth=1d2386a7b9e251c1085f8bbc9076213eab5b364f05e56e244154de9b6abece06&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/cultura/2025/03/29/kurt-cobain-un-james-dean-para-mtv/">Kurt Cobain: un James Dean para MTV</a></h2>
    <img src="https://www.infobae.com/resizer/v2/WGKZESZYWJGRBMLBHJZZEMLJJU.jpg?auth=a26f3ab7288743474c2bbea432db6dd7910fd75b074007f7b3518a327194b1a3&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/cultura/2025/03/29/reggaeton-leyendas-del-rock-mahler-fito-paez-y-mas-seis-libros-sobre-musica-y-uno-gratis/">Reggaeton, leyendas del rock, Mahler, Lennon y más: seis libros sobre música (y uno, gratis)</a></h2>
    <img src="https://www.infobae.com/resizer/v2/TPP3MCPURJEWXLT3SSWCGPJ7N4.jpg?auth=a6fe893475eea87418a7c0923cc6e9987e7e7ed07b8a56af45259a3386e5f5d8&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/cultura/2025/03/29/fito-paez-autorretrato-del-nino-herido-que-hizo-las-mejores-canciones/">Fito Páez: autorretrato del niño herido que hizo las mejores canciones</a></h2>
    <img src="https://www.infobae.com/resizer/v2/6AJJFZUM7JBMZGQCMBJGOBHOB4.jpg?auth=c850ec8c1c09007fb52da4bce4fb292ae90323bc4ae939cbb851a938df81dd5e&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/def/2025/03/29/un-dia-con-la-policia-antinarcotrafico-de-cordoba-asi-opera-la-fuerza-que-combate-el-narcomenudeo/">Un día con la Policía Antinarcotráfico de Córdoba: así opera la fuerza que combate el narcomenudeo</a></h2>
    <img src="https://www.infobae.com/resizer/v2/SV4KYSFLJVB3NHEP6BSOZ7TRFE.jpg?auth=298c45acdc7846aa7c23f0035699378fcb5700fbf7607aabb47756a683555029&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/def/2025/03/29/brian-fonseca-academico-de-ee-uu-america-latina-va-a-ocupar-un-lugar-importante-en-la-agenda-de-trump/">Brian Fonseca, académico de EEUU: "América Latina va a ocupar un lugar importante en la agenda de Trump"</a></h2>
    <img src="https://www.infobae.com/resizer/v2/S2N4CE3ZWJGDVLA6X47U2BEUIE.jpg?auth=3123e684d5e92d145f55641df73459db70fdaa77b4f36440b3b96d43d7c48e0f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/def/2025/03/29/rusificacion-en-ucrania-la-estrategia-detras-de-los-territorios-anexados-por-vladimir-putin/">Rusificación en Ucrania: la estrategia detrás de los territorios anexados por Vladímir Putin</a></h2>
    <img src="https://www.infobae.com/resizer/v2/T4OAI7YUOJBCZAKWLTLTADTWSY.jpg?auth=249b8028137572faaac5e03ace33cec6d9f202f5164f82b49275ca211212b10b&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/opinion/2025/03/29/cada-nuevo-robo-violento-a-ancianos-me-recuerda-el-salvaje-ataque-en-el-que-murio-mi-padre/">Cada nuevo robo violento a ancianos, me recuerda el salvaje ataque en el que murió mi padre</a></h2>
    <img src="https://www.infobae.com/resizer/v2/6ULEMC5GSRDHLDWBUWIC3B3FIQ.jpg?auth=49a3b70393969e909200dbc7b657358f02d7e705722fceb3a9a20c78e84760a1&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/miguel-angel-sola-entre-guiones-telones-y-emocion-cuenta-como-es-su-primera-experiencia-como-director/">Miguel Ángel Solá, entre guiones, telones y emoción, cuenta cómo es su primera experiencia como director</a></h2>
    <img src="https://www.infobae.com/resizer/v2/AEJOJINAY5HBVEE5UXZQ6LFDRA.jpg?auth=ea61877df1c794ac0837d2a1d04545db6c9f6810cff4987a3ce77b1f8d6bb809&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/opinion/2025/03/29/salario-medio-y-costo-de-vida-la-solucion-esta-en-el-paro-o-en-reformas-estructurales/">Salario medio y costo de vida: ¿la solución está en el paro o en reformas estructurales?</a></h2>
    <img src="https://www.infobae.com/resizer/v2/X4HPJZQCFVHP7I5LJZ4SRRNZ54.jpg?auth=9d676ce65cac87e5505f7fabd07f53d78d7016f2e62a704aa84a2e98070a527f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/el-regreso-de-maria-grana-la-voz-del-tango-un-chico-no-puede-estar-escuchando-una-musica-que-le-dice-barbaridades/">El regreso de María Graña, la voz del tango: “Un chico no puede estar escuchando una música que le dice barbaridades”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/RG4M53T2ZNBOZKIRJBK3ZF5KDU.jpg?auth=e9fd344490c2a312e7e5018deb94fe99dedbda307d2fd113e50e5bc791cf8fed&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/sociedad/2025/03/29/vida-y-obra-de-los-reyes-reinas-y-princesas-que-fueron-consagrados-santos-por-la-iglesia-catolica-y-la-ortodoxa/">Vida y obra de los reyes, reinas y princesas que fueron consagrados santos por la iglesia católica y la ortodoxa</a></h2>
    <img src="https://www.infobae.com/resizer/v2/T336N4CSPZEHHM2ADMPWEVWWQY.jpg?auth=17ff5e4e2d727d35b4d4f6dcc391e24f6a6bfd2d1874892b63e3cb80c458b0dd&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/salud/2025/03/29/los-10-habitos-saludables-para-prevenir-enfermedades-en-los-rinones/">Los 10 hábitos saludables para prevenir enfermedades en los riñones</a></h2>
    <img src="https://www.infobae.com/resizer/v2/PV6J5FYH2VGLLITE3DV6ZMUM4M.jpg?auth=08706612a8f1044df19884fb21c4f2c543ca0cae6edabde932f9d011887c0083&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/29/semana-financiera-cayeron-los-activos-locales-y-subio-el-dolar-en-medio-de-dudas-por-el-esquema-cambiario-y-la-negociacion-con-el-fmi/">Semana financiera: cayeron los activos locales y subió el dólar, en medio de dudas por el esquema cambiario y la negociación con el FMI</a></h2>
    <img src="https://www.infobae.com/resizer/v2/44W44ASSGXEP3JT22IJ5PVVIMA.jpg?auth=de48226d5bf0de9b53f9d95b16e277c837f76a3006f5d59318277b36f2634bbb&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/salud/2025/03/29/en-un-hecho-inedito-el-obelisco-y-todas-las-pantallas-de-alrededor-se-iluminaron-para-concientizar-sobre-el-autismo/">En un hecho inédito, el Obelisco y todas las pantallas de alrededor se iluminaron para concientizar sobre el autismo</a></h2>
    <img src="https://www.infobae.com/resizer/v2/FQ5CGGYYPVHY3J7S7UPRPLXF6E.jpg?auth=307143bb43f4332742d3bb9331d817591d2489c03efaa1c439e2c6e16ceaf595&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/america/mundo/2025/03/29/revolucion-en-asis-por-carlo-acutis-el-santo-de-internet-que-une-a-millennials-con-la-iglesia-catolica/">Revolución en Asís por Carlo Acutis, el "santo de Internet" que une a millennials con la Iglesia católica</a></h2>
    <img src="https://www.infobae.com/resizer/v2/HI4BKWJOMNERNBDRRKMFCAAFE4.jpg?auth=e3fb1befef699fbb784febfdbcd404b32b8f2d0ce64b8844bf9c94ec807f2fce&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/politica/2025/03/29/caso-libra-la-oposicion-no-logra-un-consenso-y-se-demora-la-convocatoria-para-interpelar-funcionarios/">Caso $Libra: la oposición no logra un consenso y se demora la convocatoria para interpelar funcionarios</a></h2>
    <img src="https://www.infobae.com/resizer/v2/ZMGT4QRY4ZAINEPVO2Q5PUD6M4.jpg?auth=e70fb394a353c1604763a31265579f0673c0467650a54bfbe93067ff4044eb61&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/economia/2025/03/29/nissan-deja-de-fabricar-en-argentina-como-impactara-la-decision-en-la-industria-automotriz-los-autopartistas-y-el-empleo/">Nissan deja de fabricar en el país: cómo impactará en la industria automotriz, los autopartistas y el empleo</a></h2>
    <img src="https://www.infobae.com/resizer/v2/27SUW437X5ETBDYHTOQYQBH3FI.jpg?auth=55ea474f2751aa26507dc3ceffc897e796a49ab0b6c24492a9f8c42f10278e50&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/tendencias/2025/03/28/los-secretos-de-la-casa-orilla-en-pba-la-construccion-argentina-distinguida-con-un-premio-internacional-de-arquitectura/">Los secretos de la Casa Orilla en PBA: la construcción distinguida con un premio internacional de arquitectura</a></h2>
    <img src="https://www.infobae.com/resizer/v2/TNFKIMFRD5GNJBDWGU62JHQBWA.jpg?auth=37c684765e78b2eaea0673a8787a978d0f526860c2856fa0ea66c2842b493bc9&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/tendencias/2025/03/28/minimalismo-como-lograr-que-una-casa-llena-de-cosas-sume-espacios-funcionales/">Minimalismo: cómo lograr que una casa llena de cosas sume espacios funcionales</a></h2>
    <img src="https://www.infobae.com/resizer/v2/JKWAVPDX4BGMZH2CAZIGYPRQYI.jpg?auth=72b05e345e77ef416618eb03cff00fd6e22cfbc001c017c10f4e97cb4e358468&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/tendencias/2025/03/28/guia-esencial-para-trasplantar-y-potenciar-el-verde-de-tu-jardin-o-balcon/">Guía esencial para trasplantar y potenciar el verde de tu jardín o balcón</a></h2>
    <img src="https://www.infobae.com/resizer/v2/QIB6JE4TD5DFZJ67KGXJRAQAT4.jpg?auth=ede1df3d986b360eea3ff23145d4ccfdef4e0e6f44e0cbf25e5f1561508ea1a4&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/revista-chacra/2025/03/29/la-combinacion-de-calor-extremo-y-tormentas-traera-un-brusco-descenso-termico-en-el-area-agricola-argentina/">La combinación de calor extremo y tormentas traerá un brusco descenso térmico en el área agrícola argentina</a></h2>
    <img src="https://www.infobae.com/resizer/v2/MRVLND2NMNHNXDQH5EBDHVWX3U.png?auth=6bfe0d3f7f598884851fb688af84ffda7709be8462aeddff66889d9892485056&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/revista-chacra/2025/03/29/por-el-impacto-de-la-sequia-en-el-nea-habra-menos-sorgo-este-ano/">Por el impacto de la sequía en el NEA, habrá menos sorgo este año</a></h2>
    <img src="https://www.infobae.com/resizer/v2/55TFUGGVQRBN5NZJALEYHFGXEE.jpg?auth=27d3d2148c0bd37345f5124f0785fbfeee1308060b8ecd7682184f07e63a1e9d&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/revista-chacra/2025/03/28/el-agro-esta-afectado-por-politicas-que-le-restan-competitividad-y-rentabilidad/">El agro, está afectado por “políticas que le restan competitividad y rentabilidad”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/ZJFSQMMTPVGWTFWWVRHNM3UX2A.png?auth=42f3f33c93341e93f9ea245b8b80a530b5a4fc9014e8206d04c2e1eccf9cbafb&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/revista-chacra/2025/03/28/la-molienda-de-trigo-del-primer-bimestre-del-ano-fue-la-mas-alta-desde-2020/">La molienda de trigo del primer bimestre del año fue la más alta desde 2020</a></h2>
    <img src="https://www.infobae.com/resizer/v2/XIVH53P53RDIBGURYISHBOT46M.jpg?auth=4fca9433f3cd40f879d88b87f8fa925cc1177630211a678a200142ba3679703d&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/movant/2025/03/28/las-cadenas-de-suministro-se-transforman-al-ritmo-de-los-conflictos-comerciales-globales/">Las cadenas de suministro se transforman al ritmo de los conflictos comerciales globales</a></h2>
    <img src="https://www.infobae.com/resizer/v2/BVGVGKV5F5CJXJVW7HPCFLASF4.jpg?auth=1b096c807757002eb47307c56529349dabee8715a8fb3a36216931d0cc7ae84a&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/movant/2025/03/27/refuerzan-estrategias-contra-la-pirateria-de-camiones-no-se-roba-lo-que-no-se-vende/">Refuerzan estrategias contra la piratería de camiones: “no se roba lo que no se vende”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/LJ27JLP2WNEW5FJPJU2I7UURJM.jpg?auth=b3b8a8d857b0e7eb8c5774c2d1a9b6e616332495f2bff1685ecea9f057c65a54&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/movant/2025/03/27/canal-de-suez-166-buques-vuelven-a-transitarlo-tras-el-desvio-por-ataques-en-el-mar-rojo/">Canal de Suez: 166 buques vuelven a transitarlo tras el desvío por ataques en el mar Rojo</a></h2>
    <img src="https://www.infobae.com/resizer/v2/LRU5IJYNQ5AOLCBFWCGGUWDZJI.jpg?auth=4fcc0c3fcf29ba05c2dbe0b67b41bc73e960d6a9472bdeac6d70c009796b677f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/movant/2025/03/26/brasil-busca-impulsar-acuerdo-comercial-mercosur-japon/">Brasil busca impulsar acuerdo comercial Mercosur – Japón</a></h2>
    <img src="https://www.infobae.com/resizer/v2/P3NUATO4JRBFFMXUSS5QNLGELQ.jpg?auth=8903613caabf0a75bb2389e5f69d6dbb89e316c20859342af017c4671a7cbf05&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/inhouse/2025/03/28/el-desafio-de-crecer-como-las-pymes-locales-buscan-aliados-en-un-entorno-cambiante/">El desafío de crecer: cómo las pymes locales buscan aliados en un entorno cambiante</a></h2>
    <img src="https://www.infobae.com/resizer/v2/ZSNWOONP5ZAQXMMQ5MZBK6KFXE.png?auth=9ca5e29303de3d62f77001f4a642b35f09ea3c14ac572b9bb32de4a18e711170&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/inhouse/2025/03/28/asi-trabaja-la-firma-nacional-que-maneja-marcas-presentes-en-nueve-de-cada-diez-hogares/">Así trabaja la firma nacional que maneja marcas presentes en nueve de cada diez hogares</a></h2>
    <img src="https://www.infobae.com/resizer/v2/UXKWUU7DURAETL2UOFIH4FOXJU.jpg?auth=2560a98bb061b6cef5bf0a6f97f5b8d14ec0bb282900129cbd26972d0c6cca1f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/inhouse/2025/03/28/desde-pagar-el-subte-hasta-comprar-dolar-mep-todas-las-operaciones-que-se-pueden-hacer-hoy-desde-el-celular/">Desde pagar el subte hasta comprar dólar MEP: todas las operaciones que se pueden hacer hoy desde el celular</a></h2>
    <img src="https://www.infobae.com/resizer/v2/DGU65T3ODBFBTJPJSZF2PF7P4I.png?auth=7ecc9abb7a4d9b46d2b06e3ddbba35496d5571daab50c340b0cf2c5c3425deba&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/28/messi-vio-la-semifinal-de-djokovic-y-revoluciono-miami-la-ovacion-por-su-presencia-y-la-reaccion-del-ex-n1/">Messi vio la semifinal de Djokovic y revolucionó Miami: la ovación por su presencia y la reacción del ex N°1</a></h2>
    <img src="https://www.infobae.com/resizer/v2/BMPLWOOJ7ZDAFHSVVJ2NL4I2YM?auth=5000e41a5dcd99b3b1b872d9078af0f34e05df1ba40a41a66d1f0349ae91106d&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/tenis/2025/03/28/los-challengers-entran-en-su-recta-final-con-los-argentinos-como-protagonistas/">Los challengers entran en su recta final con los argentinos como protagonistas</a></h2>
    <img src="https://www.infobae.com/resizer/v2/SH35KSK3UJDCRAL5GMBWBK3VTE.jpg?auth=2524cb5a3d1bd668496dd65eba1b6af07551b548eb10107f82efac4843183eab&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/malditos-nerds/2025/03/28/everybodys-golf-hot-shots-regresa-con-un-nuevo-estudio-y-nuevas-plataformas/">Everybody’s Golf Hot Shots regresa con un nuevo estudio y nuevas plataformas</a></h2>
    <img src="https://www.infobae.com/resizer/v2/RFQCANI7KVCEPEAO6OI7XGG46A.jpg?auth=68d9fc0ed58362a3116ca9a13f38548ef957839258eb9e14cdf2bfed27535336&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/malditos-nerds/2025/03/28/atelier-yumia-the-alchemist-of-memories-the-envisioned-land-alcanza-las-300000-copias-vendidas/">Atelier Yumia: The Alchemist of Memories & the Envisioned Land alcanza las 300.000 copias vendidas</a></h2>
    <img src="https://www.infobae.com/resizer/v2/GSYN3ECY7RAS7KZLOQCGZYVALI.jpg?auth=8d12e271d5f7f02ef7541a4e6d6f057a595af4f4bece19792ff578ffc3dff166&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/malditos-nerds/2025/03/28/avatar-steven-yeun-de-invincible-se-suma-al-reparto-de-la-nueva-pelicula-animada/">Avatar: Steven Yeun de Invincible se suma al reparto de la nueva película animada</a></h2>
    <img src="https://www.infobae.com/resizer/v2/FCZPNSPPDRBKPCBDQZNEN23M2A?auth=2baf6e2a749de05abbcea03463e53fd388ca312c046d52ce6d029f59674192df&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/malditos-nerds/2025/03/28/patapon-12-replay-traera-de-vuelta-la-magia-ritmica-a-consolas-y-pc-en-julio/">Patapon 1+2 Replay traerá de vuelta la magia rítmica a consolas y PC en julio</a></h2>
    <img src="https://www.infobae.com/resizer/v2/LYBN4YYP3VHSTEMB67MZPEAKU4.jpg?auth=97bcf40d8dc83b745f0bde71c0ceacc966f08d82f339e2a354a8da14e4b4d6af&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/entretenimiento/2025/03/29/a-20-anos-de-greys-anatomy-las-peleas-fuera-de-camaras-que-sacudieron-la-serie/">A 20 años de “Grey’s Anatomy”: las peleas fuera de cámaras que sacudieron la serie</a></h2>
    <img src="https://www.infobae.com/resizer/v2/FRCI4FBQNZD3NOW5BONBOHNWPY.jpg?auth=4339180c399efc07359c7780794fde01eb6b59118fcac8ee8c193b697022d59f&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/entretenimiento/2025/03/28/a-35-anos-de-mujer-bonita-la-historia-del-legendario-collar-de-diamantes-que-uso-julia-roberts/">A 35 años de “Mujer bonita”: la historia del legendario collar de diamantes que usó Julia Roberts</a></h2>
    <img src="https://www.infobae.com/resizer/v2/LHYTBCMMU5AFLBPVOJPN3MJ2OE.jpg?auth=6c35b87a4c0cdce3c23464ff4a311ca42edde587f389985a33f07b84ead5246b&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/wanda-nara-estallo-en-vivo-me-molesta-que-digan-que-mi-hija-no-estaba-enferma-y-que-tendi-una-emboscada/">Wanda Nara estalló en vivo: “Me molesta que digan que mi hija no estaba enferma y que tendí una emboscada”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/GSG77W7AXNF2RF234DZAWCD2V4.jpg?auth=06e4ce4e7d9e42468e01cb64e6f731c9e78c5a728f195560afbf86fbb11cc1ff&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/mario-casas-se-despidio-de-argentina-entre-muestras-de-amor-y-fotos-con-sus-fans/">Mario Casas se despidió de Argentina entre muestras de amor y fotos con sus fans</a></h2>
    <img src="https://www.infobae.com/resizer/v2/Z66ET2EWRVFL3HWZIKJBT6HF4Q.jpg?auth=2c13d1bacb76c451f3169b01d78ba3190f990a394f95ae2ec9c06f87ef84635c&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/nicolas-cabre-y-rocio-pardo-se-casaran-a-menos-de-un-ano-de-oficializar-su-noviazgo/">Nicolás Cabré y Rocío Pardo se casarán a menos de un año de oficializar su noviazgo</a></h2>
    <img src="https://www.infobae.com/resizer/v2/LJBJWDGY3RCL7PF5XDARXYE3QU.jpg?auth=ae0436c8ea6ffcd50bfb96ad265c18dcf0c938ecd407065eba404ac36d6752bf&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/teleshow/2025/03/29/lourdes-sanchez-sufrio-un-accidente-con-su-vestuario-en-pleno-baile-y-quedo-expuesta-en-el-escenario-que-verguenza/">Lourdes Sánchez sufrió un accidente con su vestuario en pleno baile y quedó expuesta en el escenario: “Qué vergüenza”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/ZFWQQFVPRFDONNETPVUTNXGHUI.jpg?auth=a55a1171ac58b9c907a195ac5d4c4f5a084613aad1b1525a67c7d726f916305c&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/la-graciosa-confesion-de-mensik-tras-clasificar-a-la-final-del-masters-1000-de-miami-messi-fue-la-clave/">La graciosa confesión de Mensik tras clasificar a la final del Masters 1000 de Miami: “Messi fue la clave”</a></h2>
    <img src="https://www.infobae.com/resizer/v2/YSTPUMBTABBFVDL4QLKNTBDV2U.jpg?auth=7447c10409d36be8a52f9f7e5508ac58464c5c0a87686b6748365e55c4a3827c&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/28/la-agenda-del-viernes-en-el-torneo-apertura-con-el-debut-de-guillermo-barros-schelotto-en-velez-y-huracan-buscando-la-cima/">Pese al golazo de Iker Muniain, San Lorenzo no pudo con Lanús y empató 1-1 por el Torneo Apertura</a></h2>
    <img src="https://www.infobae.com/resizer/v2/F7SELKDSUNANNDGBDLVNMJTHCY.JPG?auth=67786ab391075eaae201479519c03b2fea4146aad02e7b8341c0fd84c6f3791a&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/29/es-impresionante-lo-que-hizo-el-impactante-triple-de-nikola-jokic-y-la-marca-historica-que-quebro-en-la-nba/">“Es impresionante lo que hizo”: el impactante triple de Jokic y la marca histórica que quebró en la NBA</a></h2>
    <img src="https://www.infobae.com/resizer/v2/6F5GVM3GVJD6ZDX2SPEZDKXJPU.jpg?auth=06bebfcd6b041790697150be11a11efdb40de492731ccb992b7171de2e0a3a44&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/deportes/2025/03/27/kun-aguero-vuelve-a-ponerse-la-camiseta-de-independiente-los-detalles-y-el-posible-debut-frente-a-racing/">¿Kun Agüero vuelve a ponerse la camiseta de Independiente? El posible debut frente a Racing</a></h2>
    <img src="https://www.infobae.com/resizer/v2/OLWSKVJYCFHKRJXT4JF6FXR3YY.jpg?auth=f43489c334413a705d4610c38c7036b73ff7399631183acfdac74b941bd56e3b&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/cultura/2025/03/29/120-artistas-de-14-provincias-o-el-arte-argentino-mas-alla-de-buenos-aires/">120 artistas de 14 provincias o el arte argentino más allá de Buenos Aires</a></h2>
    <img src="https://www.infobae.com/resizer/v2/AOAVSOQNX5AJVIAKA2CLO3BTPE.jpg?auth=3d6c00df79b4d5458feb0b1bba7d4d9d8c03442ef3d8a889472d556328d945e7&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/cultura/2025/03/29/por-que-es-imposible-ignorar-adolescencia-en-este-momento/">Por qué es imposible ignorar "Adolescencia" en este momento</a></h2>
    <img src="https://www.infobae.com/resizer/v2/LVM27XTW3NACBLRAX5XO2IBLQY.jpg?auth=c2ed14bd3abe0b31ce0f9d61788b1a7f7bb3738cce51e46479a248b6f421e63c&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

<div class="article">
    <h2><a href="https://www.infobae.com/cultura/2025/03/29/las-afinidades-libertarias-de-horacio-quiroga/">Las afinidades libertarias de Horacio Quiroga</a></h2>
    <img src="https://www.infobae.com/resizer/v2/TX46EH3E3NDWDMITCWDJDPGO3I.jpg?auth=9b9d3209ffb001eb9f5b1a384b1fe776bac18b41885d067485cd316a52604a68&smart=true&width=350&height=197&quality=85" alt="Miniatura" width="200">
</div>

    </div>
</body>
</html>
