
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NBC</title>
    </head>
    <body>
        <main>
            <h1>NBC</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/us-news/pennsylvania-steel-factory-explosion-prompts-rescue-operation-rcna224341" target="_blank">At least 1 person killed and dozens injured in Pennsylvania steel factory explosion</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/us-news/pennsylvania-steel-factory-explosion-prompts-rescue-operation-rcna224341" target="_blank">At least 1 person killed and dozens injured in Pennsylvania steel factory explosion</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/health/health-news/atlanta-shooting-cdc-rfk-jr-vaccine-misinformation-rcna224249" target="_blank">CDC staffers voice frustration over RFK Jr.'s anti-vaccine rhetoric in wake of shooting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/health/health-news/atlanta-shooting-cdc-rfk-jr-vaccine-misinformation-rcna224249" target="_blank">CDC staffers voice frustration over RFK Jr.'s anti-vaccine rhetoric in wake of shooting</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/donald-trump/ahead-putin-sitdown-trump-says-hopes-get-prime-territory-back-ukraine-rcna224351" target="_blank">Ahead of Putin sitdown, Trump says he hopes to get 'prime territory' back for Ukraine</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/donald-trump/ahead-putin-sitdown-trump-says-hopes-get-prime-territory-back-ukraine-rcna224351" target="_blank">Ahead of Putin sitdown, Trump says he hopes to get 'prime territory' back for Ukraine</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/health/cancer/pancreatic-cancer-vaccine-prevents-recurrence-phase-1-clinical-trial-rcna223980" target="_blank">One-size-fits-all pancreatic cancer vaccine showed promise in early trial</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/health/cancer/pancreatic-cancer-vaccine-prevents-recurrence-phase-1-clinical-trial-rcna223980" target="_blank">One-size-fits-all pancreatic cancer vaccine showed promise in early trial</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/pop-culture/pop-culture-news/rapper-maluma-stops-show-call-mother-bringing-infant-mexico-city-conce-rcna224400" target="_blank">Rapper Maluma stops show to call out mother for bringing infant to his Mexico City concert</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/pop-culture/pop-culture-news/prince-harry-meghan-netflix-extend-partnership-rcna224405" target="_blank">Prince Harry, Meghan and Netflix extend partnership for streaming programs</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    