
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NBC</title>
    </head>
    <body>
        <main>
            <h1>NBC</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/latino/trump-immigration-policies-avondale-pennsylvania-mushroom-farms-rcna193758" target="_blank">Immigration policies could wreak havoc on this rural town powered by mushroom farms</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/latino/trump-immigration-policies-avondale-pennsylvania-mushroom-farms-rcna193758" target="_blank">Immigration policies could wreak havoc on this rural town powered by mushroom farms</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/supreme-court/battle-religion-schools-oklahoma-decide-future-first-amendment-rcna191114" target="_blank">A battle over religion and schools in Oklahoma could decide the future of the First Amendment</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/supreme-court/battle-religion-schools-oklahoma-decide-future-first-amendment-rcna191114" target="_blank">A battle over religion and schools in Oklahoma could decide the future of the First Amendment</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/world/taliban-releases-american-detained-afghanistan-rcna198726" target="_blank">Taliban releases American detained in Afghanistan</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/world/taliban-releases-american-detained-afghanistan-rcna198726" target="_blank">Taliban releases American detained in Afghanistan</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/news-quiz/work-mistakes-credit-apocalypse-news-quiz-rcna198402" target="_blank">Two major work mistakes and a sign of the 'credit apocalypse': The news quiz</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/us-news/vietnam-vet-found-dream-senior-living-community-new-owners-jacked-rent-rcna195175" target="_blank">A Vietnam vet found a dream senior living community. Then new owners jacked up the rent by 365%.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/us-news/vietnam-vet-found-dream-senior-living-community-new-owners-jacked-rent-rcna195175" target="_blank">A Vietnam vet found a dream senior living community. Then new owners jacked up the rent by 365%.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/world/myanmar-quake-death-toll-rises-rcna198686" target="_blank">Myanmar quake death toll surpasses 1,600 as rescuers dig through rubble</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/world/myanmar-quake-death-toll-rises-rcna198686" target="_blank">Myanmar quake death toll surpasses 1,600 as rescuers dig through rubble</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/donald-trump/trump-says-couldnt-care-less-automakers-raise-prices-tariffs-rcna198731" target="_blank">Trump says he 'couldn’t care less' if automakers raise prices due to tariffs</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/world/hamas-agrees-ceasefire-proposal-received-mediators-israel-submits-coun-rcna198734" target="_blank">Hamas agrees to ceasefire proposal it received from mediators, Israel submits counterproposal</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    