
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYT</title>
    </head>
    <body>
        <main>
            <h1>NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/trump-administration/live-blog/tesla-elon-musk-anti-trump-protests-rcna198708" target="_blank">Elon Musk blames 'far left' for vandalism on Tesla dealerships across the country</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/world/myanmar-quake-death-toll-rises-rcna198686" target="_blank">Myanmar quake death toll surpasses 1,600 as rescuers dig through rubble</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/world/myanmar-quake-death-toll-rises-rcna198686" target="_blank">Myanmar quake death toll surpasses 1,600 as rescuers dig through rubble</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/us-news/vietnam-vet-found-dream-senior-living-community-new-owners-jacked-rent-rcna195175" target="_blank">A Vietnam vet found a dream senior living community. Then new owners jacked up the rent by 365%.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/us-news/vietnam-vet-found-dream-senior-living-community-new-owners-jacked-rent-rcna195175" target="_blank">A Vietnam vet found a dream senior living community. Then new owners jacked up the rent by 365%.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/news-quiz/work-mistakes-credit-apocalypse-news-quiz-rcna198402" target="_blank">Two major work mistakes and a sign of the 'credit apocalypse': The news quiz</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/latino/trump-immigration-policies-avondale-pennsylvania-mushroom-farms-rcna193758" target="_blank">Many of the nation's mushrooms come from this town. Immigration policies could tear it apart.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/latino/trump-immigration-policies-avondale-pennsylvania-mushroom-farms-rcna193758" target="_blank">Many of the nation's mushrooms come from this town. Immigration policies could tear it apart.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/trump-administration/us-institute-peace-layoff-most-staff-members-rcna198714" target="_blank">U.S. Institute of Peace lays off most staff members</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/nbc-out/out-news/utah-bans-lgbtq-pride-flags-on-government-buildings-rcna198716" target="_blank">Utah becomes first state to ban LGBTQ+ pride flags in government buildings and schools </a></h2>
    </div>
    
        </main>
    </body>
    </html>
    