
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYT</title>
    </head>
    <body>
        <main>
            <h1>NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.nytimes.com/interactive/2025/03/28/world/europe/russia-influence-europe-putin.html" target="_blank">Russia’s Reach</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/world/asia/myanmar-earthquake-thailand-mandalay.html" target="_blank">Major Quake Batters Myanmar; High Toll Is Feared as Buildings Topple</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/world/asia/myanmar-thailand-earthquake-photos.html" target="_blank">The Earthquake’s Damage, in Photos and Video</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/world/europe/jd-vance-greenland-visit-denmark-us.html" target="_blank">Vance Lands in Greenland, a Place That Doesn’t Want Him</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/us/politics/trump-biden-blame.html" target="_blank">Trump Mentioned Biden 316 Times in 50 Days, Mostly to Blame Him for Things</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/live/2025/03/28/us/trump-greenland-vance-news" target="_blank">Major Law Firm Makes Deal to Avoid Punishing Order, Trump Says</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/business/jenner-block-wilmer-hale-trump-lawsuit.html" target="_blank">As Law Firms Sue to Stop Trump’s Executive Orders, a Split Emerges</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/nyregion/mahmoud-khalil-deportation-case-hearing.html" target="_blank">Tug of War Continues Over Where to Hear Mahmoud Khalil Deportation Case</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/us/politics/trump-deportations-supreme-court.html" target="_blank">Trump Deportation Fight Reaches Supreme Court</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/business/stock-market-inflation-consumer-sentiment.html" target="_blank">Stocks Fall as Inflation Anxiety Dampens Mood on Wall Street</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/business/charlie-javice-jpmorgan-guilty.html" target="_blank">Charlie Javice Found Guilty of Defrauding JPMorgan in $175 Million Acquisition</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/world/middleeast/israel-beirut-evacuation-hezbollah.html" target="_blank">Israel Launches Airstrikes Near Beirut for First Time Since Cease-Fire</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/world/europe/merlin-manuscript-cambridge.html" target="_blank">Medieval Tales of Merlin and Arthur, Hidden for Centuries, Return to Light</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/world/asia/nepal-protests-monarchy-violence.html" target="_blank">Protests Demanding Restoration of Monarchy in Nepal Turn Deadly</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/world/europe/missing-american-soldiers-lithuania-vehicle.html" target="_blank">Effort Underway in Lithuania to Retrieve Vehicle Carrying 4 U.S. Soldiers</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/world/australia/dachshund-dog-australia-island.html" target="_blank">Dachshund Lost on Australian Island Is Still Alive, but Elusive</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/science/partial-solar-eclipse-when-how-watch.html" target="_blank">The Partial Solar Eclipse: When, Where and How to Watch</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    