
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TIMES</title>
    </head>
    <body>
        <main>
            <h1>TIMES</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/us/politics/signal-leak-waltz-hegseth.html" target="_blank">Battle Plans and Emojis: What the Signal Leak Revealed About Washington</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/us/politics/federal-worker-unions-doge.html" target="_blank">Trump Order Could Cripple Federal Worker Unions Fighting DOGE Cuts</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/world/europe/greenland-dog-sled-race-vance-trump.html" target="_blank">No Second Lady, No Problem: Greenland’s Dog Sled Race Goes Barking On</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/world/asia/myanmar-earthquake.html" target="_blank">Myanmar Earthquake Toll Surpasses 1,600 Dead Amid Search for Survivors</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/world/middleeast/syria-government-al-shara.html" target="_blank">Syria’s Leader Announces New Government After Ousting Dictator</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/athletic/live-blogs/womens-march-madness-sweet-16-live-updates-scores-results/EqIQs76R8eD5/" target="_blank">Women’s Sweet 16 Action Continues After Texas Outlasts Tennessee</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/athletic/live-blogs/florida-texas-tech-live-updates-score-mens-march-madness-2025-elite-eight/C4e9LXXh78UO/" target="_blank">Florida and Texas Tech Clash for First Spot in Men’s Final Four</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/athletic/6240555/2025/03/29/yankees-homeruns-highlights-judge-bellinger-goldschmidt-brewers/" target="_blank">Yankees Set Franchise Record With 9 Home Runs vs. Brewers</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/us/malinin-world-figure-skating-championships.html" target="_blank">This Grieving Skater Is Poised to Win. But First He Had to Get Back on His Feet.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/us/sean-kingston-mother-fraud-guilty.html" target="_blank">Sean Kingston and His Mother Are Convicted in $1 Million Fraud Scheme</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/us/johnny-mathis-retire-concerts.html" target="_blank">Johnny Mathis Is Retiring From Touring After Almost 70 Years of Crooning</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/nyregion/car-crash-brooklyn-deaths.html" target="_blank">Woman and Two of Her Children Are Killed in Brooklyn Car Accident</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/29/science/solar-partial-eclipse-photos.html" target="_blank">Partial Eclipse Captivates Much of the Northern Hemisphere</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    