
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TIMES</title>
    </head>
    <body>
        <main>
            <h1>TIMES</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/us/politics/a-competitive-race-for-mike-waltzs-seat-rattles-republicans.html" target="_blank">A Competitive Race for Mike Waltz’s Seat Rattles Republicans</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/us/politics/trump-tariffs-canada-minnesota-iron-range.html" target="_blank">President Trump’s Tariffs Could Mean Boom or Bust on Minnesota’s Iron Range</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/world/asia/afghanistan-students-qatar-funding.html" target="_blank">‘They Will Label Us as Spies’: The Afghan Students Abandoned by America</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/world/asia/myanmar-earthquake-aftershocks-airstrikes.html" target="_blank">Aftershocks and Military Airstrikes Terrorize Residents in Myanmar</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/world/asia/earthquake-bangkok-building-safety.html" target="_blank">In Bangkok, Looking at High-Rises With a New Sense of Dread</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/us/politics/supreme-court-religion.html" target="_blank">Will Religion’s Remarkable Winning Streak at the Supreme Court Continue?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/business/economy/birthrate-politics-vance-musk.html" target="_blank">They Want More Babies. Now They Have Friends in the White House.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/us/black-men.html" target="_blank">At Black Colleges, a Stubborn Gender Enrollment Gap Keeps Growing</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/business/spain-housing-crisis-europe.html" target="_blank">Barcelona Becomes Ground Zero for Europe’s Housing Dilemma</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/arts/television/richard-chamberlain-dead.html" target="_blank">Richard Chamberlain, TV Heartthrob Turned Serious Actor, Dies at 90</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/world/middleeast/syria-new-transitional-government.html" target="_blank">A New Syrian Government Takes Power for Next Five Years</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/athletic/6240794/2025/03/30/mens-ncaa-tournament-elite-eight-roundup-florida-duke/" target="_blank">Men’s Final Four Is Coming Into Focus After First Day of Quarterfinal Action</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/world/europe/le-pen-embezzlement-trial-france-election.html" target="_blank">Possible Electoral Ban on Marine Le Pen Has France on Edge</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/us/ice-storm-michigan-ontario.html" target="_blank">Storm Leaves About 300,000 Without Power in Great Lakes Region</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/business/japan-rice-farmer-protest.html" target="_blank">In Tokyo, Rice Farmers Protest ‘Misguided’ Rules Fueling Shortages</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/30/world/europe/prince-harry-accused-bullying-charity.html" target="_blank">Prince Harry Accused of ‘Bullying’ by Chair of Charity He Co-founded</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    