
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYT</title>
    </head>
    <body>
        <main>
            <h1>NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/business/trump-skadden-deal.html" target="_blank">Trump Suffers Day of Losses in His Retribution Campaign Against Law Firms</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2025/03/28/us/columbia-universitys-president-resigns.html" target="_blank">Columbia President Resigns as Trump Threatens University’s Federal Funding</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/sport/alysa-liu-figure-skating-world-championships-spt-intl/index.html" target="_blank">This 19-year-old is the first American woman to win a figure skating world title in almost two decades</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2025/03/29/sport/sam-ruthe-running-new-zealand-spt-intl/index.html" target="_blank">The world’s fastest 15-year-old sets his sights on Olympic gold</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/adolescencia-incels-argentina-juicio-comienza-hecho-grave-facultad_0_NaBnDxaWSi.html" target="_blank">Adolescencia: quiénes son los “incels” de Argentina y el juicio que comienza por un hecho grave en una facultadGrupos misóginosSolo suscriptoresMalena Nazareth Martos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/gourmet/estrellas-michelin-vuelven-argentina-restaurantes-podrian-posicionarse-mejores-mundo_0_WUrIWso3jf.html" target="_blank">Las estrellas Michelin vuelven a la Argentina: qué restoranes podrían posicionarse entre los mejores del mundoA diez días de la premiaciónMaría Florencia Pérez</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=fLA4JJO2qWw" target="_blank">Monumental goleada de Argentina a Brasil Mundial 2026 Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.youtube.com/watch?v=fLA4JJO2qWw" target="_blank">Monumental goleada de Argentina a Brasil Mundial 2026 Videos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/elecciones-ciudad-obligada-jugar-mejor-ficha-karina-milei-quedo-intento-lla-desbancar-pro_0_hpbI2uxnjT.html" target="_blank">Obligada a jugar a su mejor ficha, Karina Milei se quedó con todo en  el intento de LLA por desbancar al PRO Adorni, candidato en la CiudadSolo suscriptoresGuido Carelli Lynch</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/historias/unico-argentino-detenido-carcel-bukele-tratan-emotiva-visita-padre-podrian-liberarlo_0_QQ3l9NaZBN.html" target="_blank">El único argentino preso en una cárcel de Bukele: por qué cayó, cómo lo tratan  y cuándo podrían liberarloCasi 2 años detenidoSolo suscriptoresF. Ladrón de Guevara</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/ciudadania-italiana-nuevo-decreto-pone-dura-restriccion-argentinos-tramitarla_0_PLENPuzyap.html" target="_blank">Ciudadanía italiana: un nuevo decreto pone una dura restricción a los argentinos que buscan tramitarla“No es un juego para ir a Miami”Emilia Vexler</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    